.YIFYjTdFpG0pUqvZroGp {
  color: inherit !important;
}
.dD7NC13qhOSU_GDOSO2C {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-inline-end: 8px;
}
.jkdoBlWT921uqFJCGL5h:before {
  content: "•";
  margin: 0 4px;
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
@keyframes jaYdcXKZlsOWW2vbBQHp {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes zyr_E8qmoRO9w6fVB_EJ {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.m6lf2dLK6mqNLzT0XrNj {
  z-index: 3;
  max-width: 100%;
  height: 40px;
  padding-inline: var(--content-spacing);
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: sticky;
  top: 64px;
}
.m6lf2dLK6mqNLzT0XrNj.d87GCwP4ImZHuMp07ak2 {
  background-color: var(--background-base);
  border-bottom: none;
  box-shadow: 0 6px 10px #0009;
}
.R55GxQOOriIH5fYuQlfW {
  color: #fff;
  flex: 1;
}
.mOauy5sEGnT5JDHpw11k {
  pointer-events: auto;
  color: #ffffffb3;
  cursor: pointer;
  background-color: #0000;
  border: 0;
  align-items: center;
  margin-inline-start: 12px;
  padding: 8px;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  display: flex;
}
.mOauy5sEGnT5JDHpw11k.bUhu1r6gh4hkK5Z5teCc,
.mOauy5sEGnT5JDHpw11k:focus,
.mOauy5sEGnT5JDHpw11k:hover {
  color: #fff;
  background-color: #ffffff1a;
  border-radius: 50%;
}
.IOXdOZpz_OhQUj2M3A0e {
  position: relative;
}
.sWaouyn3AyTlhtNlo9WP {
  color: #ffffffb3;
  background: 0 0;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
.sWaouyn3AyTlhtNlo9WP:hover {
  color: #fff;
}
.MOrGFl8LWmG5I2a_uz3Y,
.MOrGFl8LWmG5I2a_uz3Y:hover {
  color: #1ed760;
}
.dyyZcBZaN5K2xQBD9sul {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.x5xiCoc33AGAHtc76FPi {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.SRNZshOvjSTiWa2Vd3Kv {
  padding: 0;
}
.uVlKWg6HMGMDoRH8VgQR {
  white-space: nowrap;
  align-items: center;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz {
  width: 100%;
  min-width: 0;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz > :not(:first-child):before {
  content: "•";
  margin: 0 4px;
  display: inline-block;
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
.FvtoH8efNLt06ORdarNO {
  width: 100%;
  height: 12px;
  position: relative;
}
.CsdJYiqG7_sTuKYLaBVX {
  opacity: 0.4;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
  position: absolute;
  top: 4px;
}
.Rycq7IBTm3sEHsWOAIn3 {
  will-change: transform;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 4px;
  overflow: hidden;
}
.YAPmY_HZqu8_uPjkG9hy {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transform: translate(-100%);
}
.lEoqF8yJTXrzvBUrfNvp {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.l63c3qgYPYfrOLklvRUk {
  white-space: nowrap;
  margin: 0;
}
.mrx6NtQg39hpbAl8Gwxz {
  margin: 0;
}
p.l63c3qgYPYfrOLklvRUk + div.pbofaSXUUCALdHPaz4iy:before,
p.l63c3qgYPYfrOLklvRUk + p:before {
  content: "•";
  margin: 0 4px;
}
.zTiBQpKOtjTtSa9XcBvs {
  flex: 1;
  min-width: 30px;
  max-width: 85px;
}
.pbofaSXUUCALdHPaz4iy {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.KcQ7lFlny_z6ULGrfrwA {
  color: #1db954;
}
html[dir="ltr"] .mrx6NtQg39hpbAl8Gwxz {
  padding-right: 8px;
}
html[dir="rtl"] .mrx6NtQg39hpbAl8Gwxz {
  padding-left: 8px;
}
.KatE23ws3s4h91Aw3uXw {
  white-space: nowrap;
}
.rBh7_O_NFbiZmGpxpZcR {
  margin-inline-end: 4px;
}
._jL72uk9sOaPe21IZPQS {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Khktp4s59gIbcYu_hf8v {
  margin-right: 4px;
}
.nLE9PDOYa039L2BFUBO_ {
  container-type: inline-size;
}
.wVpPFH3l9CWXfs5JSIv9 {
  margin-top: 0;
  padding-top: 64px;
}
.MRcGzFTRoxEcsiGM80xr {
  min-height: 0;
  margin-top: 8px;
}
.mcOAcrMZBNGL8EHVqHqp {
  margin-bottom: 40px;
}
.KdM9tCw21FcpaOikVLl6 {
  width: 100%;
  height: 100%;
}
.rIVErOrtD0FmPDHEZ4pe {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: #535353b3;
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
  height: 173px;
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .rIVErOrtD0FmPDHEZ4pe {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .rIVErOrtD0FmPDHEZ4pe {
    --color-from: #535353b3;
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.rwDv2U5g9hEjsPtn7b1p {
  text-align: initial;
  background-color: #282828;
  background-position: 50%;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  width: 100%;
  transition: transform 0.25s linear;
  position: relative;
  transform: scale(1);
}
.rwDv2U5g9hEjsPtn7b1p:hover {
  transform: scale(1.01);
}
.rwDv2U5g9hEjsPtn7b1p .CSG9wg1v8ZWBsiDAyd9X {
  max-width: 672px;
}
.rwDv2U5g9hEjsPtn7b1p.J9_1rwHuJE8wDu5ntpip .CSG9wg1v8ZWBsiDAyd9X {
  position: absolute;
  bottom: 0;
}
.rwDv2U5g9hEjsPtn7b1p .DrAKgRPz3hRgEzgrcqh1 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  display: block;
  overflow: hidden;
}
.J9_1rwHuJE8wDu5ntpip {
  background-repeat: no-repeat;
  height: 516px;
}
.DrAKgRPz3hRgEzgrcqh1 {
  margin-top: 8px;
}
.CSG9wg1v8ZWBsiDAyd9X {
  padding: 40px;
}
.CSG9wg1v8ZWBsiDAyd9X p {
  margin-bottom: 16px;
}
.ILbgyvq2btlwjjKq4jdy {
  margin-bottom: 24px;
}
.LF0lN8sHoXmpGj6ooqxO,
.UNJIzhtwEtZkZoVSUwLL,
.aaPVs8VKJInZDap90XkE {
  color: inherit;
  text-align: initial;
  background: 0 0;
  border: 0;
  padding: 0;
}
.LF0lN8sHoXmpGj6ooqxO {
  display: block;
}
.jEIKswb1FdviYuiK3d_w {
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  display: flex;
}
.UNJIzhtwEtZkZoVSUwLL {
  flex: 1;
  min-width: 0;
}
.N25WMwLbVqlcGKgYIWyZ {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.aaPVs8VKJInZDap90XkE {
  display: block;
}
.pzjSYoZ3XVvjaJGy5rbQ {
  flex: none;
}
.jWBzF9AXI_euTJUioURQ {
  margin-block-end: 16px !important;
}
.k0Vx91QNOBrIpXxEUmLp {
  max-width: 816px;
}
.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.nkcNYpw0JgNLV0r4bdq4 {
  padding-top: var(--action-bar-padding-top, var(--content-spacing));
  padding-bottom: var(--action-bar-padding-bottom, var(--content-spacing));
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.nkcNYpw0JgNLV0r4bdq4 > :not(:first-child) {
  margin-top: calc(var(--content-spacing) - 8px);
}
.qOBihoZnnASZiCXc2cDY {
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
}
.qOBihoZnnASZiCXc2cDY > * {
  flex-shrink: 0;
}
.qOBihoZnnASZiCXc2cDY > :not(:last-child) {
  margin-inline-end: var(--content-spacing);
}
/*# sourceMappingURL=1160.a582cbed.css.map*/
