.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
.IOXdOZpz_OhQUj2M3A0e {
  position: relative;
}
.sWaouyn3AyTlhtNlo9WP {
  color: #ffffffb3;
  background: 0 0;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
.sWaouyn3AyTlhtNlo9WP:hover {
  color: #fff;
}
.MOrGFl8LWmG5I2a_uz3Y,
.MOrGFl8LWmG5I2a_uz3Y:hover {
  color: #1ed760;
}
.dyyZcBZaN5K2xQBD9sul {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.x5xiCoc33AGAHtc76FPi {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nkcNYpw0JgNLV0r4bdq4 {
  padding-top: var(--action-bar-padding-top, var(--content-spacing));
  padding-bottom: var(--action-bar-padding-bottom, var(--content-spacing));
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.nkcNYpw0JgNLV0r4bdq4 > :not(:first-child) {
  margin-top: calc(var(--content-spacing) - 8px);
}
.qOBihoZnnASZiCXc2cDY {
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
}
.qOBihoZnnASZiCXc2cDY > * {
  flex-shrink: 0;
}
.qOBihoZnnASZiCXc2cDY > :not(:last-child) {
  margin-inline-end: var(--content-spacing);
}
.MYWr4UY4pKAAscUXvqrB {
  grid-gap: 8px;
  min-width: 0;
  color: var(--sort-box-text-color, #ffffffb3);
  background-color: #0000;
  border: 0;
  border-radius: 4px;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  display: flex;
}
.MYWr4UY4pKAAscUXvqrB:focus,
.MYWr4UY4pKAAscUXvqrB:hover {
  color: #fff;
  cursor: pointer;
}
.MYWr4UY4pKAAscUXvqrB .Ok9kU39JGceG8Rdhw3vT {
  text-overflow: ellipsis;
  text-align: start;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}
.MYWr4UY4pKAAscUXvqrB .Ok9kU39JGceG8Rdhw3vT:first-letter {
  text-transform: uppercase;
}
.MYWr4UY4pKAAscUXvqrB .DooM5Xhlz0FKeraAiSdX {
  flex-shrink: 0;
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.zUSeRapXfxOgV8pOKXd5 {
  white-space: nowrap;
}
.f5lOYVAdETeMBnXk1fL8 {
  white-space: pre;
}
.f5lOYVAdETeMBnXk1fL8:first-child,
.f5lOYVAdETeMBnXk1fL8:last-child,
:is(
  .f5lOYVAdETeMBnXk1fL8:has(+ .f5lOYVAdETeMBnXk1fL8),
  .f5lOYVAdETeMBnXk1fL8:has(+ [data-invisible])
) {
  display: none;
}
.ZQpR6AIduW0wEvrKDaDQ {
  margin-inline: 4px;
}
.sHb_gFCmFuAvXIIrZOKd {
  margin-inline: 0 1px;
}
.WBOnnTeL21OiPPWKZDzA {
  padding: 8px 12px;
}
.izUT0aykBZWkZEWpQoy0[role="menuitem"] {
  padding-inline: 12px;
}
.k0_PYTUHst9Qwk5GleNg:after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 4px !important;
}
.k0_PYTUHst9Qwk5GleNg.Oo8e3v9dywKG82ch3isz {
  outline-offset: 12px;
}
.k0_PYTUHst9Qwk5GleNg.Oo8e3v9dywKG82ch3isz:after {
  bottom: -8px;
}
.D_etfermGVd8hW7FFg2U {
  align-items: center;
  display: flex;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.gD0WkAuP0Jdc7vaMe7WE {
  padding-bottom: var(--encore-spacing-base);
}
.SJHucgIIIvS3hk8B3_Qo {
  justify-content: flex-end;
  gap: 8px;
  margin-inline-start: auto;
  display: flex;
}
.uYzw_MmqsyEDryeypPwg {
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
  display: flex;
}
.buMB2YUebrL02pRc6pFQ {
  gap: 24px;
  margin-top: 30px;
  display: grid;
}
.yLg7GI3umuhVYx7GBNWt {
  background: var(--background-base);
  isolation: isolate;
  min-width: 0;
}
[data-transition="sponsored-playlist"] .yLg7GI3umuhVYx7GBNWt {
  view-transition-name: sponsored-playlist-content-transition;
}
.y3W4YSPHJ4A9sNfzaY_w {
  -webkit-line-clamp: 1;
  word-break: break-word;
  -webkit-box-orient: vertical;
  max-height: 74px;
  display: -webkit-box;
  overflow: hidden;
}
@container main-view-grid-area (height<=599px) {
  .y3W4YSPHJ4A9sNfzaY_w.LO80gLxivZCCXTy56xeg {
    display: none;
  }
}
.vvokofZHMkIo13xngnyn {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.vdo5jk_lg7YZ0AFO5ZOo {
  flex-direction: column;
  display: flex;
}
.ZqJrtGx_XtZq5NexSCax {
  color: #b3b3b3;
  margin-top: 5px;
}
.ZBltcj2TLKwYGRxCPAQN {
  justify-self: end;
}
.WFdbzPqE4T8HsNTM_eto {
  overflow: hidden;
}
.Z1eWfMIaeg0rkDT16gq7 {
  --sponsored-ad-video-min-height: clamp(
    276px,
    276px + (var(--main-view-grid-width) - 600px) / 424 * 76,
    352px
  );
  --sponsored-ad-video-max-height: 352px;
}
.T1FES0yTZXaqaGSa72Q5 {
  cursor: pointer;
  background-color: #0000;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
}
.qu0RRqlljBF64yeXTm7G {
  align-self: flex-end;
  width: 192px;
  min-width: 192px;
  height: 192px;
  margin-inline-end: 24px;
}
@media (width>=1280px) {
  .qu0RRqlljBF64yeXTm7G {
    width: 232px;
    min-width: 232px;
    height: 232px;
  }
}
.L1Cs6gLClLOwMvChpy88 {
  border-top: 1px solid #ffffff1a;
  justify-content: space-between;
  margin-top: 24px;
  padding: 24px 0;
  display: flex;
}
.L1Cs6gLClLOwMvChpy88 .gdIaFYTscvm1_kDaj85i {
  color: #fff;
  margin-bottom: 16px;
}
.dofi_d7NGvArSRYCUblW {
  display: inline-block;
}
.oI5arcZR7eLzKGZ3q9a_ {
  color: #ffffffb3;
  margin-right: 16px;
  background-color: #0000;
  border: 0;
  margin-inline-end: 8px;
}
.LozwrybIwr3b0qW4_JYo {
  color: #ffffffb3;
  cursor: pointer;
  background-color: #0000;
  border: 0;
  border-radius: 32px;
  grid-area: close-button;
  justify-content: center;
  align-self: end;
  align-items: center;
  height: 32px;
  margin: 16px 0;
  display: flex;
}
.EBp27fcQOXYRDGM7bdyH {
  margin: 20px 0 16px;
}
.gUEWF9P6hNZViur6E8kZ {
  color: #fff;
  background: 0 0;
  border: none;
  margin: 32px 16px 0 0;
  margin-inline-start: auto;
  display: block;
}
.yASuHPhEMW61UVFAnQur {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.d5OZHMQqH6xHREiPymGW,
.nlgu9utwbejHLIldvXRQ {
  min-height: calc(60vh - 122px);
}
.aP3se7EyGE1WzGTgcB1l {
  background-color: var(--background-base);
  padding: 56px 32px;
}
.GcviLKXldqLs6pQE39R2 {
  color: #fff;
  background-color: #7358ff;
  background-image: linear-gradient(#00000040, #0000);
  border-radius: 4px;
  max-width: 400px;
  min-height: 92px;
  margin: 32px 0;
  padding: 8px 12px;
  padding-inline-end: 100px;
  position: relative;
  overflow: hidden;
}
.FU557TJ_jBsSIHx6D3GN {
  margin-block-end: 8px;
  padding-bottom: 8px;
  line-height: 1.5rem;
}
.MyhgXMWdCLZkEVbeOff6:hover,
.MyhgXMWdCLZkEVbeOff6:focus {
  cursor: pointer;
  text-decoration: none;
}
.MyhgXMWdCLZkEVbeOff6 span:last-of-type {
  font-weight: 700 !important;
}
.EKIeSDd1ARp_nkvFAfhq {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  inset-block-end: -8px;
  inset-inline-end: -8px;
  transform: rotate(25deg);
  box-shadow: 0 4px 60px #0006;
}
[dir="rtl"] .EKIeSDd1ARp_nkvFAfhq {
  transform: rotate(-25deg);
}
.n1jb4W90HQINO3ZM8PlX {
  max-width: 70vw;
}
.MSZJkDocw_V0T_i0zMcA {
  margin-inline-end: 4px;
}
.h_Kt0kGg21hYEOfRHXNO:after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    transition: none;
  }
}
.h_Kt0kGg21hYEOfRHXNO:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.h_Kt0kGg21hYEOfRHXNO.CzOo3a5gi3pqG35kKban:after {
  opacity: 1;
}
::view-transition-old(sponsored-playlist-content-transition) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
::view-transition-new(sponsored-playlist-content-transition) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
/*# sourceMappingURL=2385.70ccac27.css.map*/
