.uVlKWg6HMGMDoRH8VgQR {
  white-space: nowrap;
  align-items: center;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz {
  width: 100%;
  min-width: 0;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz > :not(:first-child):before {
  content: "•";
  margin: 0 4px;
  display: inline-block;
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
.YIFYjTdFpG0pUqvZroGp {
  color: inherit !important;
}
.FvtoH8efNLt06ORdarNO {
  width: 100%;
  height: 12px;
  position: relative;
}
.CsdJYiqG7_sTuKYLaBVX {
  opacity: 0.4;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
  position: absolute;
  top: 4px;
}
.Rycq7IBTm3sEHsWOAIn3 {
  will-change: transform;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 4px;
  overflow: hidden;
}
.YAPmY_HZqu8_uPjkG9hy {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transform: translate(-100%);
}
.lEoqF8yJTXrzvBUrfNvp {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.l63c3qgYPYfrOLklvRUk {
  white-space: nowrap;
  margin: 0;
}
.mrx6NtQg39hpbAl8Gwxz {
  margin: 0;
}
p.l63c3qgYPYfrOLklvRUk + div.pbofaSXUUCALdHPaz4iy:before,
p.l63c3qgYPYfrOLklvRUk + p:before {
  content: "•";
  margin: 0 4px;
}
.zTiBQpKOtjTtSa9XcBvs {
  flex: 1;
  min-width: 30px;
  max-width: 85px;
}
.pbofaSXUUCALdHPaz4iy {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.KcQ7lFlny_z6ULGrfrwA {
  color: #1db954;
}
html[dir="ltr"] .mrx6NtQg39hpbAl8Gwxz {
  padding-right: 8px;
}
html[dir="rtl"] .mrx6NtQg39hpbAl8Gwxz {
  padding-left: 8px;
}
.KatE23ws3s4h91Aw3uXw {
  white-space: nowrap;
}
.rBh7_O_NFbiZmGpxpZcR {
  margin-inline-end: 4px;
}
._jL72uk9sOaPe21IZPQS {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Khktp4s59gIbcYu_hf8v {
  margin-right: 4px;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.gD0WkAuP0Jdc7vaMe7WE {
  padding-bottom: var(--encore-spacing-base);
}
.SJHucgIIIvS3hk8B3_Qo {
  justify-content: flex-end;
  gap: 8px;
  margin-inline-start: auto;
  display: flex;
}
.uYzw_MmqsyEDryeypPwg {
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
  display: flex;
}
.buMB2YUebrL02pRc6pFQ {
  gap: 24px;
  margin-top: 30px;
  display: grid;
}
.yLg7GI3umuhVYx7GBNWt {
  background: var(--background-base);
  isolation: isolate;
  min-width: 0;
}
[data-transition="sponsored-playlist"] .yLg7GI3umuhVYx7GBNWt {
  view-transition-name: sponsored-playlist-content-transition;
}
.y3W4YSPHJ4A9sNfzaY_w {
  -webkit-line-clamp: 1;
  word-break: break-word;
  -webkit-box-orient: vertical;
  max-height: 74px;
  display: -webkit-box;
  overflow: hidden;
}
@container main-view-grid-area (height<=599px) {
  .y3W4YSPHJ4A9sNfzaY_w.LO80gLxivZCCXTy56xeg {
    display: none;
  }
}
.vvokofZHMkIo13xngnyn {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.vdo5jk_lg7YZ0AFO5ZOo {
  flex-direction: column;
  display: flex;
}
.ZqJrtGx_XtZq5NexSCax {
  color: #b3b3b3;
  margin-top: 5px;
}
.ZBltcj2TLKwYGRxCPAQN {
  justify-self: end;
}
.adAlxhbkCOlgBndJ9b3m {
  align-self: flex-end;
  margin-inline-end: 24px;
}
.kd7sw3GzJj00iCLTXcyQ {
  align-self: flex-end;
  margin-inline-end: var(--encore-spacing-base);
}
@container main-view-grid-area (width>=600px) {
  .kd7sw3GzJj00iCLTXcyQ {
    margin-inline-end: var(--encore-spacing-looser-2);
  }
}
.T1FES0yTZXaqaGSa72Q5 {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
}
.qu0RRqlljBF64yeXTm7G {
  align-self: flex-end;
  width: 192px;
  min-width: 192px;
  height: 192px;
  margin-inline-end: 24px;
}
@media (width>=1280px) {
  .qu0RRqlljBF64yeXTm7G {
    width: 232px;
    min-width: 232px;
    height: 232px;
  }
}
.L1Cs6gLClLOwMvChpy88 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  margin-top: 24px;
  padding: 24px 0;
  display: flex;
}
.L1Cs6gLClLOwMvChpy88 .gdIaFYTscvm1_kDaj85i {
  color: #fff;
  margin-bottom: 16px;
}
.dofi_d7NGvArSRYCUblW {
  display: inline-block;
}
.oI5arcZR7eLzKGZ3q9a_ {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 16px;
  background-color: transparent;
  border: 0;
  margin-inline-end: 8px;
}
.LozwrybIwr3b0qW4_JYo {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 32px;
  grid-area: close-button;
  justify-content: center;
  align-self: end;
  align-items: center;
  height: 32px;
  margin: 16px 0;
  display: flex;
}
.EBp27fcQOXYRDGM7bdyH {
  margin: 20px 0 16px;
}
.gUEWF9P6hNZViur6E8kZ {
  color: #fff;
  background: 0 0;
  border: none;
  margin: 32px 16px 0 0;
  margin-inline-start: auto;
  display: block;
}
.yASuHPhEMW61UVFAnQur {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.d5OZHMQqH6xHREiPymGW,
.nlgu9utwbejHLIldvXRQ {
  min-height: calc(60vh - 122px);
}
.aP3se7EyGE1WzGTgcB1l {
  background-color: var(--background-base);
  padding: 56px 32px;
}
.GcviLKXldqLs6pQE39R2 {
  padding: 8px 12px;
  color: #fff;
  background-color: #7358ff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
  border-radius: 4px;
  max-width: 400px;
  min-height: 92px;
  margin: 32px 0;
  padding-inline-end: 100px;
  position: relative;
  overflow: hidden;
}
.FU557TJ_jBsSIHx6D3GN {
  margin-block-end: 8px;
  padding-bottom: 8px;
  line-height: 1.5rem;
}
.MyhgXMWdCLZkEVbeOff6:hover,
.MyhgXMWdCLZkEVbeOff6:focus {
  cursor: pointer;
  text-decoration: none;
}
.MyhgXMWdCLZkEVbeOff6 span:last-of-type {
  font-weight: 700 !important;
}
.EKIeSDd1ARp_nkvFAfhq {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  inset-block-end: -8px;
  inset-inline-end: -8px;
  transform: rotate(25deg);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.4);
}
[dir="rtl"] .EKIeSDd1ARp_nkvFAfhq {
  transform: rotate(-25deg);
}
.n1jb4W90HQINO3ZM8PlX {
  max-width: 70vw;
}
.MSZJkDocw_V0T_i0zMcA {
  margin-inline-end: 4px;
}
.h_Kt0kGg21hYEOfRHXNO:after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    transition: none;
  }
}
.h_Kt0kGg21hYEOfRHXNO:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: transparent 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-color-from: transparent 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: transparent 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .h_Kt0kGg21hYEOfRHXNO:after {
    --radial-color-from: transparent 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.h_Kt0kGg21hYEOfRHXNO.CzOo3a5gi3pqG35kKban:after {
  opacity: 1;
}
::view-transition-old(sponsored-playlist-content-transition) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
::view-transition-new(sponsored-playlist-content-transition) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
.CQRgGL5evbCuURjH527r {
  opacity: 0;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s;
  display: grid;
}
.CQRgGL5evbCuURjH527r > * {
  grid-area: 1/1;
}
.n5wV5ydBXRnA2et9nv7Z {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.LtinHc535UmVjGwptX8Q {
  color: #fff;
  background: 0 0;
  position: relative;
}
.LtinHc535UmVjGwptX8Q:hover {
  background: 0 0;
}
.y4WipNwKkFINlTjMpN0W {
  margin-inline: 4px;
}
.eczmzpgX1i2BZ0dPy_eM {
  opacity: 0;
  pointer-events: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}
@media (prefers-reduced-motion: no-preference) {
  .eczmzpgX1i2BZ0dPy_eM {
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
  }
}
.eczmzpgX1i2BZ0dPy_eM.ea4_X9WHRiVwgCp1wAzR {
  opacity: 1;
  transform: translate(-15%, -50%) scale(1);
}
.Fi7BkPnlxLX28f_t1v2m {
  width: 100%;
  height: 100%;
}
.TA9CeGsJ_G9M7He0TKpg {
  color: #fff;
  text-align: center;
  opacity: 0;
  background-color: #282828;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
}
.TA9CeGsJ_G9M7He0TKpg:hover,
.TA9CeGsJ_G9M7He0TKpg:focus {
  opacity: 1;
}
.TA9CeGsJ_G9M7He0TKpg:focus:not(:is(:focus-visible, :hover)) {
  opacity: 0;
}
.zNUCMdlRvoLHHn63m1kn {
  background-color: rgba(0, 0, 0, 0.7);
}
.c6NV2Hzb1kqVgOj9qXjw {
  border-radius: 50%;
}
.gSvYTiLHry26pn1gG9jt {
  margin-top: 16px;
  transition: opacity 0.2s;
}
.DBRdKfbsuc9LFjMJ7cev {
  display: block;
}
.hvmZhTJddQOz5ReFZVzv {
  height: inherit;
  width: inherit;
  display: flex;
  position: relative;
}
.ouWVp4baVMEC6yfuXPh1 {
  position: absolute;
  inset: 0;
}
.n0RXqYzbZhrogj2dpzXG {
  color: var(--text-subdued, rgba(255, 255, 255, 0.7));
  white-space: nowrap;
}
.rgZlYXx5GN7k74VMecrn {
  flex-direction: column;
  gap: 12px;
  width: 100%;
  display: flex;
}
.AYkMFpUv35NMrwALiw2s {
  justify-content: flex-end;
  display: flex;
}
.D_etfermGVd8hW7FFg2U {
  align-items: center;
  display: flex;
}
/*# sourceMappingURL=4727.ef1f0685.css.map*/
