.YIFYjTdFpG0pUqvZroGp {
  color: inherit !important;
}
.dD7NC13qhOSU_GDOSO2C {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-inline-end: 8px;
}
.jkdoBlWT921uqFJCGL5h:before {
  content: "•";
  margin: 0 4px;
}
.uVlKWg6HMGMDoRH8VgQR {
  white-space: nowrap;
  align-items: center;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz {
  width: 100%;
  min-width: 0;
  display: flex;
}
.ZTo2RIQmPfoDQTT4r5Xz > :not(:first-child):before {
  content: "•";
  margin: 0 4px;
  display: inline-block;
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
.FvtoH8efNLt06ORdarNO {
  width: 100%;
  height: 12px;
  position: relative;
}
.CsdJYiqG7_sTuKYLaBVX {
  opacity: 0.4;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
  position: absolute;
  top: 4px;
}
.Rycq7IBTm3sEHsWOAIn3 {
  will-change: transform;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 4px;
  overflow: hidden;
}
.YAPmY_HZqu8_uPjkG9hy {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transform: translate(-100%);
}
.lEoqF8yJTXrzvBUrfNvp {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.l63c3qgYPYfrOLklvRUk {
  white-space: nowrap;
  margin: 0;
}
.mrx6NtQg39hpbAl8Gwxz {
  margin: 0;
}
p.l63c3qgYPYfrOLklvRUk + div.pbofaSXUUCALdHPaz4iy:before,
p.l63c3qgYPYfrOLklvRUk + p:before {
  content: "•";
  margin: 0 4px;
}
.zTiBQpKOtjTtSa9XcBvs {
  flex: 1;
  min-width: 30px;
  max-width: 85px;
}
.pbofaSXUUCALdHPaz4iy {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.KcQ7lFlny_z6ULGrfrwA {
  color: #1db954;
}
html[dir="ltr"] .mrx6NtQg39hpbAl8Gwxz {
  padding-right: 8px;
}
html[dir="rtl"] .mrx6NtQg39hpbAl8Gwxz {
  padding-left: 8px;
}
.KatE23ws3s4h91Aw3uXw {
  white-space: nowrap;
}
.rBh7_O_NFbiZmGpxpZcR {
  margin-inline-end: 4px;
}
._jL72uk9sOaPe21IZPQS {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Khktp4s59gIbcYu_hf8v {
  margin-right: 4px;
}
.nLE9PDOYa039L2BFUBO_ {
  container-type: inline-size;
}
.wVpPFH3l9CWXfs5JSIv9 {
  margin-top: 0;
  padding-top: 64px;
}
.MRcGzFTRoxEcsiGM80xr {
  min-height: 0;
  margin-top: 8px;
}
.mcOAcrMZBNGL8EHVqHqp {
  margin-bottom: 40px;
}
.KdM9tCw21FcpaOikVLl6 {
  width: 100%;
  height: 100%;
}
.rIVErOrtD0FmPDHEZ4pe {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: #535353b3;
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
  height: 173px;
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .rIVErOrtD0FmPDHEZ4pe {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .rIVErOrtD0FmPDHEZ4pe {
    --color-from: #535353b3;
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.rwDv2U5g9hEjsPtn7b1p {
  text-align: initial;
  background-color: #282828;
  background-position: 50%;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  width: 100%;
  transition: transform 0.25s linear;
  position: relative;
  transform: scale(1);
}
.rwDv2U5g9hEjsPtn7b1p:hover {
  transform: scale(1.01);
}
.rwDv2U5g9hEjsPtn7b1p .CSG9wg1v8ZWBsiDAyd9X {
  max-width: 672px;
}
.rwDv2U5g9hEjsPtn7b1p.J9_1rwHuJE8wDu5ntpip .CSG9wg1v8ZWBsiDAyd9X {
  position: absolute;
  bottom: 0;
}
.rwDv2U5g9hEjsPtn7b1p .DrAKgRPz3hRgEzgrcqh1 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  display: block;
  overflow: hidden;
}
.J9_1rwHuJE8wDu5ntpip {
  background-repeat: no-repeat;
  height: 516px;
}
.DrAKgRPz3hRgEzgrcqh1 {
  margin-top: 8px;
}
.CSG9wg1v8ZWBsiDAyd9X {
  padding: 40px;
}
.CSG9wg1v8ZWBsiDAyd9X p {
  margin-bottom: 16px;
}
.ILbgyvq2btlwjjKq4jdy {
  margin-bottom: 24px;
}
.LF0lN8sHoXmpGj6ooqxO,
.UNJIzhtwEtZkZoVSUwLL,
.aaPVs8VKJInZDap90XkE {
  color: inherit;
  text-align: initial;
  background: 0 0;
  border: 0;
  padding: 0;
}
.LF0lN8sHoXmpGj6ooqxO {
  display: block;
}
.jEIKswb1FdviYuiK3d_w {
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  display: flex;
}
.UNJIzhtwEtZkZoVSUwLL {
  flex: 1;
  min-width: 0;
}
.N25WMwLbVqlcGKgYIWyZ {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.aaPVs8VKJInZDap90XkE {
  display: block;
}
.pzjSYoZ3XVvjaJGy5rbQ {
  flex: none;
}
.jWBzF9AXI_euTJUioURQ {
  margin-block-end: 16px !important;
}
.k0Vx91QNOBrIpXxEUmLp {
  max-width: 816px;
}
/*# sourceMappingURL=5077.397981c4.css.map*/
