@keyframes cDdG7OmXZz7k1nrTb_AE {
  0% {
    opacity: 0;
    transform: translate(32px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fgC1tkzh6xcLSRDHtaIG {
  0% {
    opacity: 0;
    transform: translate(-32px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes bXSHPr5BnD8h_IENa95K {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.N59J2MBRiAqf8JTfgq4k {
  padding: var(--encore-spacing-looser-2) var(--encore-spacing-looser-3)
    var(--encore-spacing-looser-3);
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  display: flex;
}
.BlDnG6Ahv7qgAVgQwQdu {
  animation: 0.3s ease-out cDdG7OmXZz7k1nrTb_AE;
}
.cyC9eWLyBWxKDVmE_w6h {
  animation: 0.3s ease-out fgC1tkzh6xcLSRDHtaIG;
}
.bXSHPr5BnD8h_IENa95K {
  animation: 0.3s ease-out bXSHPr5BnD8h_IENa95K;
}
.u0bMr14nQgcLNM8dgcRF {
  margin-top: var(--encore-spacing-base);
}
.d4E8XcFPHnx83zzodKSJ:hover {
  background-color: var(--background-highlight);
  border-radius: var(--encore-corner-radius-larger);
  margin-inline: calc(-1 * var(--encore-spacing-tighter));
  padding-inline: var(--encore-spacing-tighter);
}
.McrgTtGJwvYKyzbjVkvE {
  gap: var(--encore-spacing-looser-2);
  flex-direction: column;
  display: flex;
}
.O6gnHnApRrdZ_assqJ9r {
  gap: var(--encore-spacing-tighter-4);
  flex-direction: column;
  display: flex;
}
.XaidcDuWKm9uQSrbrO62 {
  justify-content: flex-end;
  align-items: center;
  gap: var(--encore-spacing-looser);
  display: flex;
}
.UedWleX34gi7fpCmQUK4 {
  padding: 0 var(--encore-spacing-looser-3);
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.Bkqu_l7qUf66IeGGxfp3 {
  top: var(--encore-spacing-looser);
  right: var(--encore-spacing-looser);
  position: absolute;
}
.vw8zSr2_QeAjlqyFo7RP {
  align-items: center;
  gap: var(--encore-spacing-tighter-2);
  text-align: center;
  flex-direction: column;
  display: flex;
}
.wFB2j9gSSkvEmIcfmnwF {
  border-radius: var(--encore-corner-radius-larger-2);
  background-color: var(--background-base);
  flex-direction: column;
  width: 544px;
  min-height: 500px;
  display: flex;
  overflow: clip;
  box-shadow: 0 4px 12px #0000004d;
}
.YY18mEAhwwPaTn87a5Ue {
  border-radius: var(--encore-corner-radius-larger-2);
  background-color: var(--background-base);
  flex-direction: column;
  width: 544px;
  height: 300px;
  display: flex;
  position: relative;
  overflow: clip;
  box-shadow: 0 4px 12px #0000004d;
}
.NrlD9AuIgoPMucxO47SS {
  padding: var(--encore-spacing-looser-2) var(--encore-spacing-looser-2)
    var(--encore-spacing-looser-2) var(--encore-spacing-looser-3);
  border-bottom: var(--encore-border-width-hairline) solid #ffffff1a;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.K31vfT209wWVcVUahpJC {
  align-items: center;
  gap: var(--encore-spacing-base);
  display: flex;
}
.DVY7m7CDpFzMUfth13hi {
  gap: var(--encore-spacing-tighter-5);
  flex-direction: column;
  display: flex;
}
._8lApauzYMZizYzeTd4i2 {
  border-radius: var(--encore-corner-radius-base);
  -o-object-fit: cover;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.NnFGvBFkp0vGLdKLB4wU {
  height: calc(90px + 2 * var(--encore-spacing-tighter-2));
  background-color: #181818;
  border-top: 1px solid #282828;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}
@media (width>=1024px) {
  .NnFGvBFkp0vGLdKLB4wU {
    height: calc(90px + 2 * var(--encore-spacing-base));
  }
}
.kDCJcbIG1itq56Ukp8dI {
  display: none;
}
.N3SFEgaz7Fdera2GFA9q {
  z-index: 1;
  max-inline-size: calc(50% - 364px - var(--encore-spacing-base));
  position: absolute;
  inset-block-end: var(--encore-spacing-base);
  inset-inline-end: var(--encore-spacing-base);
  overflow: hidden;
}
@container (width<=744px) {
  .N3SFEgaz7Fdera2GFA9q {
    visibility: hidden;
  }
}
#leaderboard-ad-element {
  -webkit-user-select: none;
  user-select: none;
  width: 728px;
  height: 90px;
  padding: 0 var(--encore-spacing-tighter-2);
  margin: var(--encore-spacing-tighter-2) auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
@media (width>=1024px) {
  #leaderboard-ad-element {
    padding: unset;
    margin: var(--encore-spacing-base) auto;
  }
}
@media (height<=768px) {
  #leaderboard-ad-element {
    margin: var(--encore-spacing-base) auto;
  }
}
/*# sourceMappingURL=dwp-leaderboard-component.9007d9e9.css.map*/
