@keyframes cDdG7OmXZz7k1nrTb_AE {
  0% {
    opacity: 0;
    transform: translate(32px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fgC1tkzh6xcLSRDHtaIG {
  0% {
    opacity: 0;
    transform: translate(-32px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes bXSHPr5BnD8h_IENa95K {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.N59J2MBRiAqf8JTfgq4k {
  padding: var(--encore-spacing-looser-2) var(--encore-spacing-looser-3)
    var(--encore-spacing-looser-3);
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  display: flex;
}
.BlDnG6Ahv7qgAVgQwQdu {
  animation: 0.3s ease-out cDdG7OmXZz7k1nrTb_AE;
}
.cyC9eWLyBWxKDVmE_w6h {
  animation: 0.3s ease-out fgC1tkzh6xcLSRDHtaIG;
}
.bXSHPr5BnD8h_IENa95K {
  animation: 0.3s ease-out bXSHPr5BnD8h_IENa95K;
}
.u0bMr14nQgcLNM8dgcRF {
  margin-top: var(--encore-spacing-base);
}
.d4E8XcFPHnx83zzodKSJ:hover {
  background-color: var(--background-highlight);
  border-radius: var(--encore-corner-radius-larger);
  margin-inline: calc(-1 * var(--encore-spacing-tighter));
  padding-inline: var(--encore-spacing-tighter);
}
.McrgTtGJwvYKyzbjVkvE {
  gap: var(--encore-spacing-looser-2);
  flex-direction: column;
  display: flex;
}
.O6gnHnApRrdZ_assqJ9r {
  gap: var(--encore-spacing-tighter-4);
  flex-direction: column;
  display: flex;
}
.XaidcDuWKm9uQSrbrO62 {
  justify-content: flex-end;
  align-items: center;
  gap: var(--encore-spacing-looser);
  display: flex;
}
.UedWleX34gi7fpCmQUK4 {
  padding: 0 var(--encore-spacing-looser-3);
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.Bkqu_l7qUf66IeGGxfp3 {
  top: var(--encore-spacing-looser);
  right: var(--encore-spacing-looser);
  position: absolute;
}
.vw8zSr2_QeAjlqyFo7RP {
  align-items: center;
  gap: var(--encore-spacing-tighter-2);
  text-align: center;
  flex-direction: column;
  display: flex;
}
.wFB2j9gSSkvEmIcfmnwF {
  border-radius: var(--encore-corner-radius-larger-2);
  background-color: var(--background-base);
  flex-direction: column;
  width: 544px;
  min-height: 500px;
  display: flex;
  overflow: clip;
  box-shadow: 0 4px 12px #0000004d;
}
.YY18mEAhwwPaTn87a5Ue {
  border-radius: var(--encore-corner-radius-larger-2);
  background-color: var(--background-base);
  flex-direction: column;
  width: 544px;
  height: 300px;
  display: flex;
  position: relative;
  overflow: clip;
  box-shadow: 0 4px 12px #0000004d;
}
.NrlD9AuIgoPMucxO47SS {
  padding: var(--encore-spacing-looser-2) var(--encore-spacing-looser-2)
    var(--encore-spacing-looser-2) var(--encore-spacing-looser-3);
  border-bottom: var(--encore-border-width-hairline) solid #ffffff1a;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.K31vfT209wWVcVUahpJC {
  align-items: center;
  gap: var(--encore-spacing-base);
  display: flex;
}
.DVY7m7CDpFzMUfth13hi {
  gap: var(--encore-spacing-tighter-5);
  flex-direction: column;
  display: flex;
}
._8lApauzYMZizYzeTd4i2 {
  border-radius: var(--encore-corner-radius-base);
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.Ycqn19PQZncajMn_Igur {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 256px;
  margin-top: 0;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: absolute;
}
.Ycqn19PQZncajMn_Igur.vIpJnLQXR2UZrl6vhiTk {
  display: none;
}
.LiIvGSbxbZdUOCVWncvu {
  align-items: center;
  gap: var(--encore-spacing-base);
  display: flex;
}
.mN8RQ4JyyfbXW5wpDm5j > :not(:hover, :focus) > * {
  transition-property: background, color;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}
.csGkym9e4XNmkqAGQgzV {
  gap: var(--encore-spacing-tighter-2);
  flex-direction: column;
  display: flex;
}
.St0pP2Lshsyh5z78Mwy3 {
  justify-self: start;
}
.St0pP2Lshsyh5z78Mwy3:hover,
.St0pP2Lshsyh5z78Mwy3:focus {
  -webkit-text-decoration: unset;
  text-decoration: unset;
}
.St0pP2Lshsyh5z78Mwy3 [data-encore-id="type"]:hover,
.St0pP2Lshsyh5z78Mwy3 [data-encore-id="type"]:focus {
  text-decoration: underline;
}
.YE1qUsOw2PBjOsrSglOl {
  aspect-ratio: 1.91;
  background-color: #242424;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  display: flex;
}
[data-new-layout] .YE1qUsOw2PBjOsrSglOl,
.aZpNOSZMvvFj3pqv6IRk {
  width: 100%;
  height: 100%;
}
.aZpNOSZMvvFj3pqv6IRk img {
  height: inherit;
  object-fit: cover;
}
[data-new-layout] .aZpNOSZMvvFj3pqv6IRk {
  aspect-ratio: 1.91;
  border-radius: var(--encore-corner-radius-larger-2);
  width: 100%;
  height: auto;
  display: block;
}
[data-new-layout] .aZpNOSZMvvFj3pqv6IRk img {
  object-fit: unset;
  height: auto;
}
@container (width>=768px) {
  [data-new-layout] .aZpNOSZMvvFj3pqv6IRk {
    border-radius: var(--encore-corner-radius-larger-2) 0 0
      var(--encore-corner-radius-larger-2);
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: none;
  }
}
.OJY0jR_xTVWd6oE6vqY2 {
  z-index: 1;
  position: absolute;
  top: 0;
}
[data-new-layout] .OJY0jR_xTVWd6oE6vqY2 {
  inset: 0;
}
.y9tdAt8w1j0qQeNBTsQq {
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset-block-start: 0;
}
.y9tdAt8w1j0qQeNBTsQq:hover .bJ4R4MZwaVVg3SJUzvwb {
  visibility: visible;
}
.xNafQ9Ol_0YZ6J4jBeEa {
  position: absolute;
  inset-block-end: var(--encore-spacing-tighter);
  inset-inline-start: var(--encore-spacing-tighter);
}
.FVeH5YHirxAvsiWA5YOP {
  display: flex;
  position: absolute;
}
.bJ4R4MZwaVVg3SJUzvwb {
  visibility: hidden;
}
.ibIEIUNgDQyefb1wNHMp {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.ibIEIUNgDQyefb1wNHMp:hover .ha8vT2K2vVK6C90mIPRg {
  opacity: 1;
}
.ibIEIUNgDQyefb1wNHMp video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ha8vT2K2vVK6C90mIPRg {
  z-index: 1;
  opacity: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}
[data-new-layout] .ibIEIUNgDQyefb1wNHMp {
  aspect-ratio: 16/9;
  border-radius: var(--encore-corner-radius-larger-2);
}
[data-new-layout] .ibIEIUNgDQyefb1wNHMp video {
  object-fit: contain;
  object-position: left;
  border-radius: var(--encore-corner-radius-larger-2);
  width: 100%;
  height: auto;
  display: block;
}
@container (width>=768px) {
  [data-new-layout] .ibIEIUNgDQyefb1wNHMp {
    height: auto;
    max-height: none;
  }
  [data-new-layout] .ibIEIUNgDQyefb1wNHMp video {
    border-radius: var(--encore-corner-radius-larger-2) 0 0
      var(--encore-corner-radius-larger-2);
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
.AlCNrknDeIMs4XbVgSvt {
  width: 100%;
  transition:
    opacity 0.2s linear 0.3s,
    height 0.6s;
  position: relative;
  overflow: hidden;
}
.qIXOpd2IXQHUddyONhQt {
  max-width: var(--content-max-width);
  margin-inline: auto;
  margin-block: var(--encore-spacing-base) var(--encore-spacing-base);
  border-radius: var(--encore-corner-radius-larger-2);
  width: calc(100% - 2 * var(--content-spacing));
  background-color: #0000004d;
  padding: 0;
  display: flex;
  position: absolute;
  inset-inline: 0;
  overflow: hidden;
  container-type: inline-size;
}
.PQBXxslN9Htyfr9Wj2G5 {
  grid-gap: var(--encore-spacing-tighter);
  padding: var(--encore-spacing-base);
  grid-template-areas: "advertiserInfo" "asset" "content" "actions";
  display: grid;
}
.PQBXxslN9Htyfr9Wj2G5 .IbMlTZQAOfU84vPrb9Jg {
  border-radius: var(--encore-corner-radius-larger-2);
  grid-area: asset;
  max-height: 262px;
  overflow: hidden;
}
.PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP {
  grid-area: advertiserInfo;
}
.PQBXxslN9Htyfr9Wj2G5 .I_kvmjr8czwYRcc9UkSW {
  grid-area: content;
  justify-self: start;
}
.PQBXxslN9Htyfr9Wj2G5 .c3o3Pk8UeanAjTAv3TL4 {
  grid-area: actions;
}
@container (width>=768px) {
  .PQBXxslN9Htyfr9Wj2G5 {
    grid-gap: var(--encore-spacing-tighter) var(--encore-spacing-base);
    grid-template-areas: "asset advertiserInfo" "asset content" "asset actions";
    padding: 0;
  }
  .PQBXxslN9Htyfr9Wj2G5 .IbMlTZQAOfU84vPrb9Jg {
    border-radius: var(--encore-corner-radius-larger-2) 0 0
      var(--encore-corner-radius-larger-2);
    grid-column: span 1;
    max-height: 319px;
  }
  .PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP {
    margin: var(--encore-spacing-base) var(--encore-spacing-base) 0 0;
  }
  .PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP:hover {
    background-color: #0000 !important;
  }
  .PQBXxslN9Htyfr9Wj2G5 .I_kvmjr8czwYRcc9UkSW {
    margin-inline-end: var(--encore-spacing-base);
  }
  .PQBXxslN9Htyfr9Wj2G5 .c3o3Pk8UeanAjTAv3TL4 {
    margin: 0 var(--encore-spacing-base) var(--encore-spacing-base) 0;
  }
}
.G_w7OvxaGMckTw_hH_RA {
  width: auto;
  max-width: calc(var(--content-max-width) - 2 * 40px);
  margin-inline: auto;
  margin-block: var(--encore-spacing-base);
  inset-inline: 40px;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 {
  gap: var(--encore-spacing-tighter);
  width: 100%;
  min-width: 0;
  padding: var(--encore-spacing-base);
  flex-direction: column;
  display: flex;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .IbMlTZQAOfU84vPrb9Jg {
  border-radius: var(--encore-corner-radius-larger-2);
  order: 1;
  max-height: none;
  overflow: hidden;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .euZJqMz4PRkSgjpUzgJf {
  display: contents;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP {
  order: 0;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .I_kvmjr8czwYRcc9UkSW {
  justify-self: unset;
  order: 2;
  min-width: 0;
}
.G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .c3o3Pk8UeanAjTAv3TL4 {
  order: 3;
}
@container (width>=768px) {
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 {
    align-items: stretch;
    gap: var(--encore-spacing-base);
    padding: 0;
    flex-direction: row;
    padding-inline-end: var(--encore-spacing-base);
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .IbMlTZQAOfU84vPrb9Jg {
    border-radius: var(--encore-corner-radius-larger-2) 0 0
      var(--encore-corner-radius-larger-2);
    flex: 1 0 70%;
    order: 0;
    max-height: none;
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .euZJqMz4PRkSgjpUzgJf {
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--encore-spacing-base);
    min-width: 0;
    max-width: 480px;
    padding-block: var(--encore-spacing-base);
    flex-direction: column;
    display: flex;
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP {
    margin: 0;
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .V4Caj67aER2Al8c30mzP:hover {
    background-color: #0000 !important;
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .I_kvmjr8czwYRcc9UkSW {
    max-width: 480px;
    margin-inline-end: 0;
  }
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .c3o3Pk8UeanAjTAv3TL4 {
    margin: 0;
  }
}
@container (width>=1024px) {
  .G_w7OvxaGMckTw_hH_RA .PQBXxslN9Htyfr9Wj2G5 .IbMlTZQAOfU84vPrb9Jg {
    flex: 0 48%;
  }
}
/*# sourceMappingURL=home-ads-container.3d2fa065.css.map*/
