.K7QziDGbPcXKnOIZ94e_ {
  flex-direction: column;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Sxgd8QGzqYOvHipiI54q {
  aspect-ratio: 1;
  background: var(--background-highlight);
  border-radius: 4px;
  width: 100%;
  text-decoration: none;
  display: block;
}
.Sxgd8QGzqYOvHipiI54q:focus-visible {
  outline-offset: 2px;
  outline: 2px solid;
}
.E8lM_8fPbWa91GBBrsjN {
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  display: block;
}
.kaFIzVwFvh8dNKFI9XRE {
  line-height: 1.3;
}
.f6FJMuJUM7YL7yAVV1qe {
  display: inline-block;
  position: relative;
}
.ljDugYOnTsowPrserbVR {
  border-radius: 4px;
  padding: 8px 12px;
}
.ljDugYOnTsowPrserbVR:hover,
.ljDugYOnTsowPrserbVR:focus-visible {
  background: #ffffff1a;
}
.EcPpSfz7FgHUXIA89KeO {
  white-space: nowrap;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}
.C4ZtriAmvQrV4JyyscTl {
  inset-inline-end: 0;
  z-index: 100;
  background: var(--background-elevated-base);
  border-radius: 8px;
  flex-direction: column;
  width: 292px;
  max-height: 490px;
  padding: 12px;
  display: flex;
  position: absolute;
  top: calc(100% + 4px);
  box-shadow:
    0 16px 24px #0000004d,
    0 6px 8px #0003;
}
.NQuYD7HTn7XL_h4uxVMA {
  padding: 8px 8px 12px;
}
.QABdu9TND60S_8ykaXJp {
  align-items: center;
  margin-bottom: 8px;
  display: flex;
  position: relative;
}
.Ptf_x_BD04VUJ9eHQP9g {
  color: #ffffffb3;
  pointer-events: none;
  position: absolute;
  inset-inline-start: 8px;
}
.CdLgf74xeMvj57exhXUU {
  color: #ffffffb3;
  text-overflow: ellipsis;
  background-color: #ffffff1a;
  border: 0;
  border-radius: 4px;
  width: 100%;
  height: 32px;
  padding-block: 8px;
  padding-inline: 32px 8px;
  font-size: 14px;
}
.CdLgf74xeMvj57exhXUU::placeholder {
  color: #ffffffb3;
}
.CdLgf74xeMvj57exhXUU:focus {
  outline: none;
}
.ZOFvbCN2NJ5WS7o45AQ3 {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}
.GKaEZI9sAblaNFW2h79V {
  text-align: start;
  cursor: pointer;
  width: 100%;
  color: var(--text-base);
  background: 0 0;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  font-size: 14px;
  display: flex;
}
.GKaEZI9sAblaNFW2h79V:hover,
.GKaEZI9sAblaNFW2h79V[data-active] {
  background: #ffffff1a;
}
.GKaEZI9sAblaNFW2h79V:active {
  background-color: var(--background-press);
}
.Z_PUP7Ruyo826dvvaeNH {
  color: var(--text-base);
}
.IHYHaRdhc5lGTmkXmlRQ {
  color: var(--text-bright-accent, #1ed760);
  font-weight: 700;
}
.sVI8yNDDcqsmzzIL2oEK {
  color: var(--text-bright-accent, #1ed760);
  flex-shrink: 0;
}
.zc6TmfmXx6Xsk768NK7U {
  color: var(--text-subdued);
  text-align: center;
  padding: 16px 12px;
  font-size: 14px;
}
.Vi46Ntm1icwARPDbuxxJ {
  flex-direction: column;
  width: 100%;
  display: flex;
}
.Refs4ehUq6v1MzjYdpHW {
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  display: flex;
}
.N0LrvQVLush7btYX31Wj {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.tzCPLxkG4nOo14Tvt8k3 {
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 24px 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
.nYqjqGxRMg8XXljBS2Mg {
  min-width: 0;
}
.v5_etrLcM1X6hmsKpbGC {
  aspect-ratio: 1;
  background: #ffffff14;
  border-radius: 4px;
  width: 100%;
}
.w5xrdP8ds167njp_cGlB,
.YBd3wCRx3XD5B3Ur3tFH {
  color: var(--text-subdued, #a7a7a7);
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 32px 16px;
  display: flex;
}
/*# sourceMappingURL=podcast-charts-hub.94ab323c.css.map*/
