.SRNZshOvjSTiWa2Vd3Kv {
  padding: 0;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.sTEp2Mwpg2Qm9shHd5Bg {
  background-color: #ffffff12;
  border-radius: 8px;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0 32px;
  padding: 24px;
  display: flex;
}
.KJRyAEkFW5BsJIm3wetE {
  flex-direction: column;
  gap: 4px;
  display: flex;
}
.ae9Ka9IE18Xs60PWEwBG {
  border-radius: 4px;
  align-self: flex-start;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}
.CSc_i8TmW5Tssfi4Bt2b {
  opacity: 0.8;
  margin: 0;
  font-size: 0.875rem;
}
.u1MYnxwWKlyAg4L13VgI {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.EwP39x5iyVRHBV4uvMq8 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
.B3QqmrsrhyIT3GUhWwcQ {
  font-weight: 700;
}
.eU1nQUobHVerkMWiL0KN {
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}
.K5REbFV5Y0NzliVPqUaS {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  display: flex;
}
.LtnSLO9fSGnjUVB0mbnS {
  color: var(--text-subdued, #a7a7a7);
  margin: 8px 0 32px;
  font-size: 0.75rem;
  line-height: 1.4;
}
.ZodNgXlAzpm3E_BhJ1G7 {
  padding-bottom: var(--encore-spacing-looser-2);
}
.roIrJTZzKNqlCyLD4v8O {
  align-items: center;
  gap: 24px;
  margin: 38px 0;
  display: flex;
}
.YafgADo7E6hSoZvsYmhd {
  background: #0009;
  border-radius: 8px;
  display: inline-block;
}
.Es1P04mgJxHn9v8fAkXA {
  text-transform: capitalize;
  padding: 0 16px;
}
.m1DrWVgP1LyVYDjOJa3u {
  background: var(--background-base);
  isolation: isolate;
}
.gw8Q0MjU5_kvykcjSnXA {
  flex-direction: column;
  display: flex;
}
.h1FL9ecrxnl9Dk95GqKp {
  margin-top: 24px;
}
.ZbziHkLa8RQ20o_DeqEC {
  padding: 0 32px;
}
.E1YL2tcaRwTRzON5WrWX {
  color: #b3b3b3;
  padding: 0;
}
.HFOwLx5IbhSfSufEpMQR {
  color: #fff;
  margin: 32px 0 20px;
}
.w7Og4DSlgOMKluc1atA0 {
  align-items: center;
  margin-top: 24px;
  display: flex;
}
.fBtxyAtmwJrQvNGVzjEZ {
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  display: flex;
}
.DGARyaF7yxYEPdR6Y2Tp {
  color: #000;
}
.DGARyaF7yxYEPdR6Y2Tp:focus,
.DGARyaF7yxYEPdR6Y2Tp:hover {
  cursor: pointer;
  text-decoration: none;
}
.ImZLpW2A88tKcC4SOKS6 {
  color: #fff;
  background: #282828;
  border-radius: 4px;
  flex: none;
  align-items: center;
  width: max-content;
  min-width: min(420px, 100%);
  max-width: 100%;
  min-height: 80px;
  max-height: 80px;
  display: inline-flex;
}
.ImZLpW2A88tKcC4SOKS6:focus,
.ImZLpW2A88tKcC4SOKS6:hover {
  cursor: pointer;
  text-decoration: none;
}
.LjvHFqCdRomZWBUb5wjw {
  background-color: #a7a7a7;
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  display: flex;
}
.YIMahe7C7rdiGov8G_Kg {
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}
.ABBAL4HIY8Z04tgXGCBg {
  color: #000;
}
.Ofnnbt5Stpz5b4aYDHEo {
  color: #a7a7a7;
  margin-right: 30px;
}
.NoDSpz22lN1beipde7zq {
  flex: auto;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  min-width: 0;
  margin-left: 16px;
  display: flex;
}
.NoDSpz22lN1beipde7zq > [data-encore-id="buttonPrimary"] {
  flex: none;
}
.hMGZlCqtveNtB0sJ3gCy {
  margin: 0 24px;
}
.qDU4kXXxOkzA0xuZo04A {
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
  display: flex;
}
.Faa4I3cxDXT96nPGle5h {
  color: #fff;
  padding-top: 48px;
}
.Y8pUNI1jishrnTjjSAYa {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.dXxUqzgpPwbe1EU2pJ2z {
  line-height: 1em;
}
.Aykm_jqy544vfn63zgfK {
  padding-top: 40px;
}
.rF7AcMUmN8OojH1AxvaV {
  color: #b3b3b3;
}
._sPSTLxifBJ2EuB3UiJB {
  height: 330px;
}
.XBpq0Wl3FF8q1tY1nH32 {
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  background-color: #0000;
  border: 1px solid #fff;
  height: 32px;
}
.XBpq0Wl3FF8q1tY1nH32.hgj2VPpnbPoKeduIfOkA,
.XBpq0Wl3FF8q1tY1nH32[aria-checked="true"] {
  color: #000;
  background-color: #1ed760;
  border-color: #0000;
}
.XBpq0Wl3FF8q1tY1nH32.hgj2VPpnbPoKeduIfOkA:hover,
.XBpq0Wl3FF8q1tY1nH32.hgj2VPpnbPoKeduIfOkA:focus,
.XBpq0Wl3FF8q1tY1nH32[aria-checked="true"]:hover,
.XBpq0Wl3FF8q1tY1nH32[aria-checked="true"]:focus {
  border-color: #0000;
}
.ApAUzBkpmsJi7fT7VLMN {
  position: fixed;
  bottom: 16px !important;
}
.z9atfwmGeGLAJfeEOBp6 {
  white-space: nowrap;
  margin-inline-end: 16px;
}
.bNi2CugHuIfiD04Ws_BA {
  font-size: 14px;
  font-weight: 700;
}
.ffX3I28uXi9abWqCBosi {
  color: #fff;
  font-size: 14px;
}
.nPsVuaIV8LdO2E0zv5AA {
  min-width: 0;
  line-height: 1.2em;
}
.Apj_FsLtti5QyrfFKTwo {
  font-size: 14px;
}
.pV8Pq8dLtjKrH4uoiFSK {
  line-height: 1.5;
}
.l5Z04xUO9sMsC1Tpo12g {
  font-size: 14px;
  font-weight: 700;
}
.ktj9iFEkEuZW156CVUiY {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: 180px;
  margin-block-end: 8px;
}
.p_jKlBcrZ_KDTWhI3HRO {
  padding-block-end: 24px;
}
.C92k3xvcM6qE28VOEsrw {
  align-items: center;
  gap: 4px;
  display: flex;
}
.mHEJtNuh0xIS7EanhnTO {
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  margin-inline: -8px;
  padding: 8px;
  display: flex;
}
.mHEJtNuh0xIS7EanhnTO:hover {
  background: #ffffff1a;
  text-decoration: none;
}
.mHEJtNuh0xIS7EanhnTO .VJjHRWcjCavcVgs3nC59 {
  padding-bottom: 8px;
}
.mHEJtNuh0xIS7EanhnTO .ZxuBGDsmXAt1pV5_apAQ {
  color: #7358ff;
  vertical-align: -10%;
  margin-inline-end: 8px;
  display: inline-block;
}
.k1CqZHOu0WzRMNg4u9y8 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
}
.ng_onG0OS28x5aBT5nsg {
  border-radius: 4px;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
}
.PAZAN0imuX0n9KBorO66 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.QLasFBYYSZLBxShd01ow {
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-inline-start: 12px;
  display: flex;
}
.XWtNovu_POKi9OT5ANTm {
  flex-direction: column;
  flex: 2;
  justify-content: center;
  display: flex;
}
.aqlBASeMR2ykeagiW7Ot,
.q5wwXyMMWkkJBdx0tQ2y {
  flex: 1;
}
.HylKQYvqbe8SuXKrqIAM {
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-column-width), 1fr)
  );
  grid-auto-rows: min-content;
  display: grid;
}
.hpB0hSeCHMcUEI6ohRJo {
  grid-template-rows: repeat(var(--row-count), minmax(0, 1fr));
}
.PccY203Iy4ixt083WHNT {
  grid-auto-rows: 1fr;
}
.MSusW7bkDuhSoe4hl4df {
  isolation: isolate;
  padding-bottom: var(--encore-spacing-looser-2);
  --carousel-extra-inline-margin: 0px;
  background: 0 0;
}
@container main-view-grid-area (width>1955px) {
  .MSusW7bkDuhSoe4hl4df {
    --carousel-extra-inline-margin: calc(
      (100cqi - var(--content-max-width)) * 0.5
    );
  }
}
.viq0Iah8B4QVPOyVYnDp,
.zxZQQ4g6i6M_8LtnbCym {
  padding-top: 4px;
}
.pcSGyO66RYNXitwRWG3I {
  --shelf-gap-horizontal: 32px;
  --shelf-gap-vertical: 24px;
  gap: var(--shelf-gap-vertical) var(--shelf-gap-horizontal);
  flex-flow: wrap;
  width: 100%;
  display: flex;
}
.o15RnWsjCdMPlupNmsQ9 {
  --shelf-collapsable-min-width: var(--shelf-fixed-min-width);
  max-width: var(--shelf-fixed-max-width);
  min-width: var(--shelf-collapsable-min-width);
  flex: 1 1 var(--shelf-collapsable-min-width);
}
.Kuk1HPo_qWJ8HMJYnX3s {
  padding-top: var(--encore-spacing-base);
}
.Kuk1HPo_qWJ8HMJYnX3s .pcSGyO66RYNXitwRWG3I {
  padding-inline: 40px;
}
.pIdDTaXFWKp5dOhU19f5 {
  gap: var(--encore-spacing-base);
  flex-direction: column;
  width: 100%;
  display: flex;
}
.wFn77rckizqeNu22wMoB {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}
.wFn77rckizqeNu22wMoB.Bwl6hy9hZKbGU24pkwQL {
  gap: var(--encore-spacing-tighter-2);
  flex-direction: column;
}
.wFn77rckizqeNu22wMoB.Bwl6hy9hZKbGU24pkwQL .NJbzKS82fCstHfeWuL0Y {
  justify-content: space-between;
  margin-inline-start: calc(var(--encore-spacing-tighter-2) * -1);
}
.wFn77rckizqeNu22wMoB .wk5P09THSNsD56iwe1Tt {
  width: fit-content;
  display: inline;
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I {
  --regular-shelf-max-count: 9;
  --shelf-fixed-height: calc(
    (
        (var(--content-max-width) - 40px) / var(--regular-shelf-max-count) *
          1.25
      ) -
      24px
  );
  --low-density-shelf-max-count: calc(var(--regular-shelf-max-count) * 0.384);
  --high-density-shelf-max-count: calc(var(--regular-shelf-max-count) * 1.333);
  --music-videos-shelf-max-count: calc(var(--regular-shelf-max-count) * 0.6);
  --shelf-fixed-width: min(
    calc(
      (2.5 * var(--content-max-width) / var(--regular-shelf-max-count)) -
        var(--shelf-gap-horizontal)
    ),
    100%
  );
  --shelf-fixed-min-width: var(--shelf-fixed-width);
  --shelf-fixed-max-width: var(--shelf-fixed-width);
  --shelf-fixed-min-height: var(--shelf-fixed-height);
  --shelf-fixed-max-height: var(--shelf-fixed-height);
  --carousel-start-chevron-gradient: #121212b3;
  --carousel-end-chevron-gradient: #121212b3;
  padding-inline: 40px;
}
@container main-view-grid-area (width<2304px) {
  .zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I {
    --regular-shelf-max-count: 10;
  }
}
@container main-view-grid-area (width<1024px) {
  .zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I {
    --regular-shelf-max-count: 11;
    --shelf-gap-vertical: 16px;
  }
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I [data-shelf="carousel"] {
  --shelf-carousel-margin-start-mul: -1;
  --shelf-carousel-margin-end-mul: -1;
}
.zxZQQ4g6i6M_8LtnbCym
  .pcSGyO66RYNXitwRWG3I
  [data-shelf="carousel"][data-shelf-notatedge] {
  --shelf-carousel-margin-start-mul: 0;
  --carousel-start-chevron-gradient: #121212;
}
.zxZQQ4g6i6M_8LtnbCym
  .pcSGyO66RYNXitwRWG3I
  > [data-shelf-collapsable]
  + [data-shelf]:nth-child(2),
.zxZQQ4g6i6M_8LtnbCym
  .pcSGyO66RYNXitwRWG3I
  > [data-shelf-collapsable]
  + [data-shelf]:nth-child(3) {
  --shelf-collapsed: 1;
  min-width: var(--shelf-collapsable-min-width);
  flex: 1 1 var(--shelf-collapsable-min-width);
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I .T_i9omN21MzoGxMIvWGw {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: calc(
    var(--content-max-width) / var(--regular-shelf-max-count)
  );
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I .pGrFQDl9V1kzYwxKG_Ug {
  --carousel-shelf-min-items: 1.25;
  --carousel-shelf-element-width: calc(
    var(--content-max-width) / var(--low-density-shelf-max-count)
  );
  --carousel-shelf-row-count: 2;
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I .VRbVovDlkY_LBDrxMuEU {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: calc(
    var(--content-max-width) / var(--high-density-shelf-max-count)
  );
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I .yGkpI3xZwgMEiHxEtncg {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: calc(var(--shelf-fixed-height) * 9 / 16);
}
.zxZQQ4g6i6M_8LtnbCym .pcSGyO66RYNXitwRWG3I .kaUfQK3iUfinonbmizZ3 {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: calc(
    var(--content-max-width) / var(--music-videos-shelf-max-count)
  );
}
.viq0Iah8B4QVPOyVYnDp .pcSGyO66RYNXitwRWG3I {
  --shelf-fixed-height: 100%;
  --shelf-fixed-min-width: 500px;
  --shelf-fixed-max-width: 600px;
  --shelf-fixed-min-height: 200px;
  --shelf-fixed-max-height: 260px;
}
@container main-view-grid-area (width<1200px) {
  .viq0Iah8B4QVPOyVYnDp .pcSGyO66RYNXitwRWG3I {
    --shelf-fixed-max-height: 200px;
    --shelf-fixed-min-height: 180px;
    --shelf-fixed-min-width: 400px;
  }
}
.viq0Iah8B4QVPOyVYnDp
  .pcSGyO66RYNXitwRWG3I
  .o15RnWsjCdMPlupNmsQ9
  + [data-shelf] {
  flex-grow: 99;
  min-width: 420px;
}
@container main-view-grid-area (width<1200px) {
  .viq0Iah8B4QVPOyVYnDp
    .pcSGyO66RYNXitwRWG3I
    .o15RnWsjCdMPlupNmsQ9
    + [data-shelf] {
    min-width: 320px;
  }
}
.elFRnLJQcRuLRUW3_Xgw {
  margin-bottom: 24px;
}
.q23HVlSe20KssaS2c59Q {
  --shelf-collapsable-min-width: calc(var(--shelf-fixed-max-height) * 16 / 9);
  min-width: var(--shelf-collapsable-min-width);
  max-width: var(--shelf-collapsable-min-width);
  flex: 1 1 var(--shelf-collapsable-min-width);
}
.QB04sdFF2klScrOFVaYk {
  --shelf-collapsable-min-width: calc(
    var(--carousel-shelf-element-width) * var(--carousel-shelf-min-items, 1)
  );
  flex-direction: column;
  flex: 0 auto;
  min-width: 100%;
  display: flex;
}
.twXS9pkzV0Sbs_TfjS0K {
  --encore-cards-margin: 0px;
  --margin: calc(
    40px + var(--encore-cards-margin) + var(--carousel-extra-inline-margin)
  );
  --margin-start: calc(
    var(--encore-cards-margin) +
      ((var(--shelf-carousel-margin-start-mul, 0) * var(--margin)))
  );
  --margin-end: calc(
    var(--encore-cards-margin) +
      ((var(--shelf-carousel-margin-end-mul, 0) * var(--margin)))
  );
  margin-inline: var(--margin-start) var(--margin-end);
  display: block;
}
.HZv2_mb_nwfs8LUNtXE7 {
  flex-direction: column;
  display: flex;
}
.QjxrsdsFJsWthk0ImufF .twXS9pkzV0Sbs_TfjS0K {
  --encore-cards-margin: -12px;
}
.VAJXxT3M_BRyfWFz4GD7,
.BxLM6VQXYgZjqz8PjCoU {
  display: block;
}
.vMwFXFkfuP_6CJZmNITa {
  width: auto;
  min-width: 100%;
}
.X0xbythb00oWjQBjvqMi {
  grid-auto-flow: column;
  grid-template-rows: repeat(var(--carousel-shelf-row-count, 1), auto);
  display: grid;
}
.X0xbythb00oWjQBjvqMi.bDR0WqICbHQhtz7WZOPi {
  content-visibility: auto;
  contain-intrinsic-block-size: auto 212px;
}
.X0xbythb00oWjQBjvqMi {
  padding-inline-start: calc(
    -1 * (var(--margin-start) - var(--encore-cards-margin))
  );
}
.X0xbythb00oWjQBjvqMi .TTqKwFW0UYGGUe2P5rGZ {
  width: var(--carousel-shelf-element-width);
  text-wrap: pretty;
  overflow: hidden;
}
.X0xbythb00oWjQBjvqMi .TTqKwFW0UYGGUe2P5rGZ:last-child {
  margin-inline-end: 48px;
}
.F7TMiD69MMwR83O1BhXT {
  left: 8px;
  right: 8px;
}
.F7TMiD69MMwR83O1BhXT > * {
  margin-top: -16px;
  top: 50%;
}
[data-carousel-gridlist-item]:has(.DRQyRGLQgzsvDpmsv5Cp) {
  width: calc(2 * var(--carousel-shelf-element-width));
  grid-column: span 2;
  margin-block-start: 12px;
  margin-inline-end: 12px;
}
.Cl_DS9TgCtCwdUkiDTbr {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 272px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.Cl_DS9TgCtCwdUkiDTbr:hover {
  border: none;
}
.Cl_DS9TgCtCwdUkiDTbr:after {
  content: "";
  display: block;
}
.e20XRCxocMO4iuo8APkf {
  padding: 16px;
  position: absolute;
  bottom: 0;
}
.e20XRCxocMO4iuo8APkf .hSuCd0GAg5SiO_orasRd {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  color: #fff;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.e20XRCxocMO4iuo8APkf .mhQcZ7wLn30s2ULU29Yd {
  text-align: center;
  background: #000000b3;
  border-radius: 4px;
  margin: 12px 0;
  padding: 0 8px;
  display: inline-block;
}
.e20XRCxocMO4iuo8APkf .km0znxL1o3lP0si3DDvQ {
  padding: 4px;
}
.zS6qFWNUitLqLSWNuFLQ {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 2px 4px #0003;
}
.mOuqEHUilXAvx7Mxl5xF {
  align-items: center;
  gap: 24px;
  margin: 16px 0 0;
  display: flex;
}
.pFRBvWUXSfBSjNsr9XbP {
  --carousel-shelf-min-items: 1.5;
  --carousel-shelf-element-width: 180px;
  margin-block-end: 8px;
  margin: 16px 0 32px;
}
.ThOGpFBttTzC_Dw1bM7C {
  margin-bottom: 16px;
}
/*# sourceMappingURL=xpui-routes-concert-campaign.d45e0db9.css.map*/
