.FFMIxCdjTsPV8aspOkCq {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: calc(100vh - 96px);
  margin-top: -64px;
  display: flex;
}
.FFMIxCdjTsPV8aspOkCq.tfuYYoqpBABJkzCw0xqS {
  height: 40vh;
  margin-top: 0;
}
.FFMIxCdjTsPV8aspOkCq svg {
  width: 32px;
  height: 32px;
}
@media (width>=1024px) {
  .FFMIxCdjTsPV8aspOkCq svg {
    width: 64px;
    height: 64px;
  }
}
.vgJqRkalrJegEDFscI31:hover {
  border-color: #0000;
}
.QuUEeTI5hHlx3BR0qFc4 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.l0pDHyfpZobhjA6TMZbP {
  margin-bottom: 20px;
}
@media (width>=1024px) {
  .l0pDHyfpZobhjA6TMZbP {
    margin-bottom: 32px;
  }
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.nkcNYpw0JgNLV0r4bdq4 {
  padding-top: var(--action-bar-padding-top, var(--content-spacing));
  padding-bottom: var(--action-bar-padding-bottom, var(--content-spacing));
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.nkcNYpw0JgNLV0r4bdq4 > :not(:first-child) {
  margin-top: calc(var(--content-spacing) - 8px);
}
.qOBihoZnnASZiCXc2cDY {
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: flex;
}
.qOBihoZnnASZiCXc2cDY > * {
  flex-shrink: 0;
}
.qOBihoZnnASZiCXc2cDY > :not(:last-child) {
  margin-inline-end: var(--content-spacing);
}
.MYWr4UY4pKAAscUXvqrB {
  grid-gap: 8px;
  min-width: 0;
  color: var(--sort-box-text-color, #ffffffb3);
  background-color: #0000;
  border: 0;
  border-radius: 4px;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  display: flex;
}
.MYWr4UY4pKAAscUXvqrB:focus,
.MYWr4UY4pKAAscUXvqrB:hover {
  color: #fff;
  cursor: pointer;
}
.MYWr4UY4pKAAscUXvqrB .Ok9kU39JGceG8Rdhw3vT {
  text-overflow: ellipsis;
  text-align: start;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}
.MYWr4UY4pKAAscUXvqrB .Ok9kU39JGceG8Rdhw3vT:first-letter {
  text-transform: uppercase;
}
.MYWr4UY4pKAAscUXvqrB .DooM5Xhlz0FKeraAiSdX {
  flex-shrink: 0;
}
.D_etfermGVd8hW7FFg2U {
  align-items: center;
  display: flex;
}
.v0pTUPYykK2_38YMUrJh {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}
.WBOnnTeL21OiPPWKZDzA {
  padding: 8px 12px;
}
.izUT0aykBZWkZEWpQoy0[role="menuitem"] {
  padding-inline: 12px;
}
.k0_PYTUHst9Qwk5GleNg:after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 4px !important;
}
.k0_PYTUHst9Qwk5GleNg.Oo8e3v9dywKG82ch3isz {
  outline-offset: 12px;
}
.k0_PYTUHst9Qwk5GleNg.Oo8e3v9dywKG82ch3isz:after {
  bottom: -8px;
}
.PzDEMkr7euiRQILOLemN {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: calc(100vh - 96px);
  padding: 0 16px;
  display: flex;
}
.au7riJi6eHRvaaqMjKG3 {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  display: flex;
}
.O559eYbbnfmtaDzExZov {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: flex;
}
/*# sourceMappingURL=xpui-routes-collection-local-files.46317c86.css.map*/
