.YIFYjTdFpG0pUqvZroGp {
  color: inherit !important;
}
.dD7NC13qhOSU_GDOSO2C {
  vertical-align: middle;
  margin-bottom: 3px;
  margin-inline-end: 8px;
}
.jkdoBlWT921uqFJCGL5h:before {
  content: "•";
  margin: 0 4px;
}
