.j0nEgiQZPwCTTCS7J9XI {
  cursor: default;
  background: #2e77d0;
  border-radius: 4px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  display: flex;
}
.FRiCcTdVvGWEBrf5q77e {
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 100px;
  align-items: center;
  gap: 8px;
  display: flex;
}
.DDfkN7IiwCsZqIK7Fy02 {
  align-items: center;
  height: 32px;
  padding: 0 24px;
  display: flex;
}
.DDfkN7IiwCsZqIK7Fy02:hover {
  text-decoration: none;
}
.oPEkkCaqWGHi1LT2mf3A {
  flex-shrink: 0;
}
.SlcRSjK_b1XskHi646GX {
  color: #b3b3b3;
  cursor: pointer;
  border-radius: 4px;
}
.SlcRSjK_b1XskHi646GX.jhrQCLNeQNZS8KfyLEFQ .TJUveU0lUCvBZrgf6gZg {
  color: #1db954;
}
.SlcRSjK_b1XskHi646GX.fXjTjLIvXMZ5HN2AHniu,
.SlcRSjK_b1XskHi646GX.fXjTjLIvXMZ5HN2AHniu:hover {
  background-color: var(--background-highlight);
}
.SlcRSjK_b1XskHi646GX .w1P32N0kUmC8Bkz4PLRk > :not(.XH_3xwJJ2to9n9P0zkwJ) {
  opacity: 0;
}
.SlcRSjK_b1XskHi646GX:focus-within,
.SlcRSjK_b1XskHi646GX:hover {
  background-color: var(--background-tinted-highlight);
}
.SlcRSjK_b1XskHi646GX:focus-within .IO4nD9sDK5smS118AiAg,
.SlcRSjK_b1XskHi646GX:hover .IO4nD9sDK5smS118AiAg {
  overflow: hidden;
}
.SlcRSjK_b1XskHi646GX:focus-within .w1P32N0kUmC8Bkz4PLRk > *,
.SlcRSjK_b1XskHi646GX:hover .w1P32N0kUmC8Bkz4PLRk > * {
  opacity: 1;
}
.bG9OLJSRR4xL5MFBOgpA.Ye8u1F1e6DlCFf6dQl3W .edd4i5ZpEFmAOUPcVND5 {
  background: #000;
}
.bG9OLJSRR4xL5MFBOgpA.Ye8u1F1e6DlCFf6dQl3W img {
  width: 100% !important;
  height: 100% !important;
}
.bG9OLJSRR4xL5MFBOgpA .edd4i5ZpEFmAOUPcVND5 {
  object-fit: cover;
  background: linear-gradient(
    to bottom,
    var(--bg-color-from),
    var(--bg-color-to)
  );
  border-radius: 4px;
  justify-content: center;
  position: relative;
  width: 100px !important;
  height: 56.25px !important;
}
.bG9OLJSRR4xL5MFBOgpA .edd4i5ZpEFmAOUPcVND5 > img {
  width: auto;
  box-shadow: 0 4px 28px #000c;
}
.bG9OLJSRR4xL5MFBOgpA .edd4i5ZpEFmAOUPcVND5.RYkRFnFbTSzkBIcLPBWt {
  border-radius: 4px;
  width: 176px !important;
  height: 99px !important;
}
.bG9OLJSRR4xL5MFBOgpA .edd4i5ZpEFmAOUPcVND5.CoXZSLvqw9KZZGFbmz6E {
  width: 56.25px !important;
  height: 56.25px !important;
}
.bG9OLJSRR4xL5MFBOgpA
  .edd4i5ZpEFmAOUPcVND5.CoXZSLvqw9KZZGFbmz6E.RYkRFnFbTSzkBIcLPBWt {
  width: 99px !important;
  height: 99px !important;
}
.njasNWV9DvZriQwZ185A {
  margin-inline-end: 4px;
}
.IO4nD9sDK5smS118AiAg {
  color: #fff;
  gap: 8px;
  width: 100%;
  margin: 0;
  display: flex;
}
.CnnsSt7ncng44P0H0rnX {
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  overflow: hidden;
}
.CnnsSt7ncng44P0H0rnX:empty {
  display: none;
}
.w1P32N0kUmC8Bkz4PLRk {
  flex-grow: 1;
  align-items: center;
  gap: 32px;
  display: flex;
}
.lwFch_6uKppvdB0CQSO0 {
  flex-direction: row;
  align-items: center;
  gap: 16px;
  display: flex;
}
.HNcpECRiHum7ZKwUsItO {
  overflow-wrap: break-word;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}
.OxlU4XPS0uyVlutxksgD {
  grid-area: banner;
}
.FvtoH8efNLt06ORdarNO {
  width: 100%;
  height: 12px;
  position: relative;
}
.CsdJYiqG7_sTuKYLaBVX {
  opacity: 0.4;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
  position: absolute;
  top: 4px;
}
.Rycq7IBTm3sEHsWOAIn3 {
  will-change: transform;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 4px;
  overflow: hidden;
}
.YAPmY_HZqu8_uPjkG9hy {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transform: translate(-100%);
}
.lEoqF8yJTXrzvBUrfNvp {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.l63c3qgYPYfrOLklvRUk {
  white-space: nowrap;
  margin: 0;
}
.mrx6NtQg39hpbAl8Gwxz {
  margin: 0;
}
p.l63c3qgYPYfrOLklvRUk + div.pbofaSXUUCALdHPaz4iy:before,
p.l63c3qgYPYfrOLklvRUk + p:before {
  content: "•";
  margin: 0 4px;
}
.zTiBQpKOtjTtSa9XcBvs {
  flex: 1;
  min-width: 30px;
  max-width: 85px;
}
.pbofaSXUUCALdHPaz4iy {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.KcQ7lFlny_z6ULGrfrwA {
  color: #1db954;
}
html[dir="ltr"] .mrx6NtQg39hpbAl8Gwxz {
  padding-right: 8px;
}
html[dir="rtl"] .mrx6NtQg39hpbAl8Gwxz {
  padding-left: 8px;
}
.KatE23ws3s4h91Aw3uXw {
  white-space: nowrap;
}
.H5SJlE0fxLclDjCWgryE {
  margin-top: 32px;
}
.LIvdqGBiODawwgCC6peG {
  max-width: 790px;
}
.lNLiMrRTGJAM3Um_H4fs {
  margin-inline-start: 8px;
}
.jxtchU0PIT9c3XhYwacJ {
  border-color: #ffffff1a;
  margin: 0;
}
.jxtchU0PIT9c3XhYwacJ:only-child,
.srHdvOWEsiNt8c2GFXBv:hover > .jxtchU0PIT9c3XhYwacJ,
.srHdvOWEsiNt8c2GFXBv:hover + .srHdvOWEsiNt8c2GFXBv > .jxtchU0PIT9c3XhYwacJ {
  visibility: hidden;
}
/*# sourceMappingURL=xpui-routes-episode-more-like-this.208423bb.css.map*/
