.n7NvEbvUdu1rQLpIozER {
  padding: var(--encore-spacing-tighter-5) var(--encore-spacing-tighter-4);
  flex-shrink: 0;
}
.rWPRryl2Wkdpy6buN3KA {
  align-items: flex-start;
  height: 60px;
  display: flex;
  position: relative;
}
.MC3TyoIUsVCVxXc9CkFN {
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
}
.MC3TyoIUsVCVxXc9CkFN:first-child {
  inset-inline-start: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  top: 0;
}
.MC3TyoIUsVCVxXc9CkFN:nth-child(2) {
  inset-inline-start: 40px;
  z-index: 2;
  width: 52px;
  height: 52px;
  top: 4px;
}
.MC3TyoIUsVCVxXc9CkFN:nth-child(3) {
  inset-inline-start: 84px;
  z-index: 3;
  width: 48px;
  height: 48px;
  top: 0;
}
.MC3TyoIUsVCVxXc9CkFN:nth-child(4) {
  inset-inline-start: 124px;
  z-index: 4;
  width: 50px;
  height: 50px;
  top: 8px;
}
.CpCG95qABSt7ODHaTVHM {
  align-items: center;
  height: 56px;
  display: flex;
  position: relative;
}
.QXg_ct1d4vmpAI1BXquD {
  object-fit: cover;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.QXg_ct1d4vmpAI1BXquD:first-child {
  z-index: 1;
  inset-inline-start: 0;
  transform: rotate(-16deg);
}
.QXg_ct1d4vmpAI1BXquD:nth-child(2) {
  z-index: 2;
  inset-inline-start: 44px;
  transform: rotate(-2deg);
}
.QXg_ct1d4vmpAI1BXquD:nth-child(3) {
  z-index: 3;
  inset-inline-start: 88px;
  transform: rotate(-8deg);
}
.QXg_ct1d4vmpAI1BXquD:nth-child(4) {
  z-index: 4;
  inset-inline-start: 132px;
  transform: rotate(-4deg);
}
.yZSTpAV6ZNNr8flNj3Qg {
  align-items: flex-start;
  gap: var(--encore-spacing-tighter-3);
  margin-block-start: var(--encore-spacing-tighter-2);
  display: flex;
}
._QB5NrXzhfhU4RwOgBQi {
  flex-shrink: 0;
}
.dhf6qqVitxJnOia5TyZT {
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
  display: flex;
}
.RmM2FYr3EDDzNhO4aELi {
  margin-top: 4px;
  position: relative;
}
.uhcgmXCrUy3P2wev0oE8 {
  padding: 12px;
  background: var(--background-elevated-highlight);
  width: 100%;
  box-shadow: none;
  color: var(--text-base);
  font-family: inherit;
  font-size: var(--encore-body-medium-font-size);
  line-height: var(--encore-body-medium-line-height);
  resize: none;
  border: none;
  border-radius: 500px;
  min-height: 0;
  margin: 0;
  padding-inline: 16px 52px;
  transition:
    box-shadow 0.22s ease-in,
    background 0.22s ease-in,
    border-radius 0.15s ease-in 80ms,
    min-height 0.2s ease-in;
  display: block;
  overflow-y: hidden;
}
.uhcgmXCrUy3P2wev0oE8:focus-visible {
  outline-offset: -2px;
}
.uhcgmXCrUy3P2wev0oE8::placeholder {
  color: var(--text-subdued);
}
.uhcgmXCrUy3P2wev0oE8:hover {
  background: var(--background-tinted-highlight);
  box-shadow: inset 0 0 0 1px #ffffff1a;
}
.uhcgmXCrUy3P2wev0oE8.D7CAZmAw1ZEr_u0cgsND {
  border-radius: 8px;
  min-height: 5lh;
  transition:
    box-shadow 0.22s ease-in,
    background 0.22s ease-in,
    border-radius 0.1s ease-out,
    min-height 0.15s ease-out 40ms;
}
.uhcgmXCrUy3P2wev0oE8:focus {
  background: var(--background-tinted-highlight);
  box-shadow: inset 0 0 0 2px #fff;
}
.uhcgmXCrUy3P2wev0oE8.sSCp0yOb1XaSRtn5YeLL {
  box-shadow: inset 0 0 0 1px var(--text-warning);
}
.uhcgmXCrUy3P2wev0oE8.oSoR6rvvwdIK1HDa5IX8 {
  box-shadow: inset 0 0 0 1px var(--text-negative);
}
.VnrXganASA8pr4pWSc7r {
  position: absolute;
  inset-block-end: 12px;
  inset-inline-end: 8px;
}
.DZzCkPotagBxry47Bqmn {
  opacity: 0.3;
}
@keyframes ZH4Ko5dMQbIXe_C3zWZK {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.oRQk9xjZTdX7wm7SRduf {
  border: 2px solid var(--text-subdued);
  border-top-color: var(--text-base);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: 0.7s linear infinite ZH4Ko5dMQbIXe_C3zWZK;
  display: block;
}
.jbwnLnHoaJYkrGQ9Ghv8 {
  background: var(--background-elevated-highlight);
  cursor: pointer;
  border-radius: 8px;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
  padding: 12px;
  transition: background 0.22s ease-in;
  display: flex;
}
.jbwnLnHoaJYkrGQ9Ghv8:hover {
  background: var(--background-tinted-highlight);
}
.jbwnLnHoaJYkrGQ9Ghv8.LtdOSCnt3fdPEuHCNK3L {
  cursor: default;
  background: var(--background-tinted-highlight);
  padding-inline-end: 52px;
  position: relative;
  box-shadow: inset 0 0 0 2px #fff;
}
.jbwnLnHoaJYkrGQ9Ghv8.mLPlfdt9v63NvU3cewFm {
  box-shadow: inset 0 0 0 1px var(--text-warning);
}
.jbwnLnHoaJYkrGQ9Ghv8.lLqUnViLfQbRHwcVMLMt {
  box-shadow: inset 0 0 0 1px var(--text-negative);
}
.Bh9yvdj4mBuxaltoRbBx {
  overflow-wrap: break-word;
  flex: 1;
  min-width: 0;
}
.Rh24nPJbUIWaroDikyW3 {
  width: 100%;
  color: var(--text-base);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  overflow-wrap: break-word;
  background: 0 0;
  border: none;
  outline: none;
  padding: 0;
  overflow-y: hidden;
}
.XWIiLRBJVltjqSLd9ouc {
  margin-top: 4px;
}
.oLM_6rvUfIZeVEQxY1Kw {
  visibility: hidden;
}
.QJYsU3xgLtRKDwLKouXd {
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  min-inline-size: 32px;
  display: flex;
}
.rhZ4L8T8wgYQ7Wo35u9m {
  align-self: flex-start;
  margin-top: 8px;
}
.oBnhRaUv9spDJoqxNJMB {
  background-color: var(--background-elevated-base);
  border-radius: var(--encore-spacing-tighter-2);
  padding: var(--encore-spacing-base);
  gap: var(--encore-spacing-base);
  flex-direction: column;
  display: flex;
}
.aOkyZ6U8EdKEUiAQUZQS,
.PONfEmLKHPlXd1WP7WOF {
  margin: 0;
}
.BfsldNzk7ck0HhS_byFH {
  max-width: 800px;
  margin: var(--encore-spacing-tighter-4);
  padding-bottom: var(--encore-spacing-looser-2);
}
.kKkMUSnwp98Rlt6F_2wu {
  align-items: center;
  gap: var(--encore-spacing-tighter-2);
  margin-top: 48px;
  margin-bottom: 4px;
  display: flex;
}
.bQTy_LADmjBPWlm4711h {
  margin-bottom: 32px;
}
.AkdaBLfZ9gLaIWG5Al9u {
  gap: var(--encore-spacing-base);
  flex-direction: column;
  display: flex;
}
.XgauS1BDi4gdxQeWiOsO {
  justify-content: center;
  align-items: center;
  gap: var(--encore-spacing-base);
  padding: var(--encore-spacing-looser-6) 0;
  flex-direction: column;
  display: flex;
}
/*# sourceMappingURL=xpui-routes-taste-profile.6f3110cf.css.map*/
