.K5TWf4sfTrSaGHOPm9ap {
  align-self: flex-start;
}
.gTr8Fmm7q_zqG4acoFx9 {
  padding-bottom: var(--encore-spacing-looser-2);
}
.U8kHWSi55M0jgEwHCFSV {
  margin-top: 32px;
}
.Q4rZwrAIkXiR8Dq2RhlI {
  margin-bottom: 16px;
}
