.iReGnmfianwi3Ak4QOWq {
  margin-block-end: 40px;
}
.gKwIijfQRutgcnRbwdsn {
  flex-direction: column;
  display: flex;
}
.Xw0apqgMEGGflDK_Xim3 {
  grid-area: title;
  justify-self: start;
}
.y7GjItl7sI4nujidv3Lz {
  overflow: visible;
}
.aEhb8vmbsVDRFizPTpdA {
  color: rgba(255, 255, 255, 0.7);
  background: 0 0;
  border: none;
  padding: 16px;
}
.aEhb8vmbsVDRFizPTpdA:hover {
  color: #fff;
}
.w1qMAiQb7fbkMpdqzoaL {
  margin-bottom: 8px;
  display: block;
}
.bdLqXFORBjRjfE7Vyu__ {
  min-height: auto;
}
.xxGoeoO8_GSXsdSL4Wws {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.v2NB3JsmW40gRy6iU1A8 {
  margin-bottom: 16px;
}
.LRpgzUcscwITvBmxG0SB {
  --video-card-image-min-width: 199px;
  --video-card-image-max-width: 256px;
}
.oKwJHhzhy2rx8payg7bw {
  color: #b3b3b3;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  display: flex;
}
.oBTFLfBjMmaX5qkZaPVC {
  padding: 0 16px 16px;
}
.C6IQgfovMYYbOsFKBNAC {
  padding-bottom: var(--encore-spacing-base);
}
.MQszKOd06NHFn7ifpxsC {
  grid-column: span var(--column-count);
}
.AQb6pcISqFWcIV8iUTix {
  grid-column: var(--right-column-start) / var(--column-count);
}
.z5waYBJEnIUZTkuODYh4 {
  grid-column: span var(--column-count);
}
.kKdmcwKm9rAZEqxvgHsY {
  margin-bottom: 16px;
}
.hInq5_nbssEeNrgxS1cy {
  grid-column: span var(--left-column-end);
  grid-row: span 3;
}
.TAq6eDZQ4s_ayRRD4lY0 {
  grid-column: span var(--left-column-end);
  grid-row: 1;
}
.Dy80zrulNwPGCbMfpf0f {
  grid-column: span var(--left-column-end);
}
.QjRSQiQkhmr2fkq_HqfQ {
  grid-column: var(--right-column-start) / var(--column-count);
  grid-row: 1;
}
.aippjmQPtm47aiOsO6rg {
  margin-bottom: 40px;
}
.iBmZwcmh4ogGJfEZrvQW {
  flex-direction: column;
  align-items: flex-start;
  margin-block-start: 32px;
  display: flex;
}
.ZU_MRVX3J66zYJC0q6Fb {
  margin-bottom: 32px;
}
.no7HilFOGmbIbs97x1ng {
  margin-bottom: 40px;
}
.f6wzPm9VHXIu4GRj37SV {
  margin: 0 0 20px;
}
.z3bUNvvGYfTzzmzGHj1F {
  padding: 20px 0;
  margin: 0 !important;
}
.S3pEbf2zMaXQEB7stmHl section:first-child {
  padding: 0 0 20px;
}
.LdRTLt1u5t4tLI0tZV5B {
  margin-top: 20px;
}
.T5c8Nwvac9EXpCHiIYtG {
  display: none;
}
.ueRMUupNeV6OiwhRTBUh {
  display: block;
}
.OBtfI4fMHE9UwJwFhAAH {
  padding: 0;
}
.D8sEk2yCagwG2BMNAsVg {
  margin-bottom: 4px;
}
.qg254gqNjYjYtYGoxKSg {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: auto;
  display: flex;
  position: relative;
}
.qg254gqNjYjYtYGoxKSg:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.qg254gqNjYjYtYGoxKSg.tpquHm99iqpFKVOAnn0X {
  opacity: 0.4;
}
.H9iflcwmCL3AaQLIKSOm {
  margin-top: 16px;
}
.zrg36X7Rx1iJ3WUJ58ZG {
  border-radius: 8px 0 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
[dir="rtl"] .zrg36X7Rx1iJ3WUJ58ZG {
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
}
.KOjTZjEBXA_cQrCb40xN {
  color: #fff;
  text-align: start;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: flex-start;
  margin: 0 16px;
  display: flex;
  overflow: hidden;
}
.XMYpgsHpFeiz5icAnxuB {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.GJfgxDT8wcxRUZsfSSAv {
  content: "";
  z-index: 0;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
@media (pointer: fine) {
  .GJfgxDT8wcxRUZsfSSAv:hover {
    cursor: pointer;
  }
}
.KOjTZjEBXA_cQrCb40xN a {
  z-index: 1;
  position: relative;
}
.lxxTJ3ZUpAyhpw2ULx4Y {
  background-color: #2e77d0;
  border-radius: 8px;
  max-width: 600px;
  padding: 16px;
}
.JZrbiYb1ez4MuQj9oLaf {
  text-align: start;
  color: #fff;
  display: flex;
}
.bLIBfu7A7RFe929MSl1g {
  flex-flow: wrap;
  justify-content: flex-end;
  margin-top: 16px;
  display: flex;
}
.zv6sGoWk02CwJsRreakw {
  justify-content: center;
}
.QT0ZCLAwp03eSieop3W_ {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.qf2PsUMlVFC3blWQciiQ {
  margin-bottom: 16px;
}
.jOcboAU9o63EF95V4Yqj {
  color: rgba(255, 255, 255, 0.7);
  -webkit-user-select: none;
  user-select: none;
}
.jOcboAU9o63EF95V4Yqj:not(.Ic5PckAxp1HBQ2NurMtR):has(
    + .jOcboAU9o63EF95V4Yqj.Ic5PckAxp1HBQ2NurMtR
  ) {
  margin-bottom: 0.8em;
}
[dir="rtl"] .jOcboAU9o63EF95V4Yqj {
  direction: rtl;
}
.xsNTrjh_bndhcJ_nJ2sm {
  appearance: none;
  background: 0 0;
  border: 0;
  padding: 0;
  display: inline;
}
.pzdMSpi4RrG9_HbM3HdL {
  color: #fff;
  cursor: pointer;
}
._x_frbZPw9mtFDIdomkg {
  display: none;
}
.LWSUjc4AXKOHIVIdkYQm {
  display: block;
}
.tmCGOBOlS5q8mgcYHAWZ {
  border-radius: 4px;
  flex-direction: column;
  transition: background-color 0.3s;
  display: flex;
}
.n_GiyGJPLdb3o33HseuH {
  color: #fff;
  grid-gap: 16px;
  border-radius: 4px;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 8px;
  display: grid;
  position: relative;
}
.n_GiyGJPLdb3o33HseuH:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.n_GiyGJPLdb3o33HseuH:not(:last-of-type) {
  margin-bottom: 12px;
}
.n_GiyGJPLdb3o33HseuH.XXr6j3Wsd_ddP613GdBI {
  opacity: 0.4;
}
.HhVStV6lh8QJpyhQ4MDS {
  padding-bottom: 8px;
}
.CRIGORJ5OZySfTkbJ0D2 {
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: inline;
  overflow: hidden;
}
.ItmOJkj1I6ryF_4dmVAw {
  align-items: flex-start;
}
.dCuL3yqNsWlhC3KYa7YF {
  margin: 0 0 0 16px;
}
[dir="rtl"] .dCuL3yqNsWlhC3KYa7YF {
  margin: 0 16px 0 0;
}
.Stw0Qw79X3LXnLJEygvs {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
[dir="rtl"] .Stw0Qw79X3LXnLJEygvs {
  text-align: right;
}
._U9lgk_YJkdzcO5hzOwi {
  content: "";
  z-index: 0;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
@media (pointer: fine) {
  ._U9lgk_YJkdzcO5hzOwi:hover {
    cursor: pointer;
  }
}
.CRIGORJ5OZySfTkbJ0D2 a {
  z-index: 1;
  position: relative;
}
.J82yoObghvFNdthD8TMy {
  display: none;
}
.IEnDKK6P1ARvB6DE0pcx {
  display: block;
}
.ndKLCCEUvZOQZ3wFgMfU {
  padding: 8px;
}
.WfCNk6GXcihV7lJ5fLnf {
  margin-inline-end: 4px;
}
.HtziCvOin__QUreWCqJ4 {
  color: #b3b3b3;
}
/*# sourceMappingURL=xpui-routes-track-v2.11842afc.css.map*/
