__workaround_element__ {
  --__workaround_property__: 0;
}
.FFMIxCdjTsPV8aspOkCq {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: calc(100vh - 96px);
  margin-top: -64px;
  display: flex;
}
.FFMIxCdjTsPV8aspOkCq.tfuYYoqpBABJkzCw0xqS {
  height: 40vh;
  margin-top: 0;
}
.FFMIxCdjTsPV8aspOkCq svg {
  width: 32px;
  height: 32px;
}
@media (width>=1024px) {
  .FFMIxCdjTsPV8aspOkCq svg {
    width: 64px;
    height: 64px;
  }
}
.vgJqRkalrJegEDFscI31:hover {
  border-color: #0000;
}
.QuUEeTI5hHlx3BR0qFc4 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.l0pDHyfpZobhjA6TMZbP {
  margin-bottom: 20px;
}
@media (width>=1024px) {
  .l0pDHyfpZobhjA6TMZbP {
    margin-bottom: 32px;
  }
}
.lG4nyXnX96VX1CduiT90 {
  background-color: #282828;
  border-radius: 8px;
  outline: none;
  width: 90vw;
  max-width: 480px;
  padding: 24px;
}
.oF_qP22sfUxuCYEaglre {
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  display: flex;
}
.ysxn68dHMZe4M7JC5cYy {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}
.iSR0qM8eAdD90zx9f3Wy {
  color: #fff;
  flex: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.KlTjd3l0WuTkVAz2XIrS {
  color: #ffffffb3;
  cursor: pointer;
  background: 0 0;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
  display: flex;
}
.KlTjd3l0WuTkVAz2XIrS:hover {
  color: #fff;
}
.jn1Rt5aKMFT_k7ACLcWh {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
}
.LUrY7n87zG78vFCH7SeF {
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  display: inline-flex;
}
.KgRAE9ooO9vJnXW3MUO0 {
  width: auto;
  height: 16px;
}
.PcJFouC3KhyrgVERkDqn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 11px;
  font-weight: 700;
}
.jANA4b30quV8DYikKHuF {
  color: #ffffffb3;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}
.PdXj_8uTq3g_ljxRvXw7 {
  cursor: pointer;
  color: inherit;
  background: 0 0;
  border: none;
  align-items: center;
  gap: 8px;
  padding: 0;
  display: inline-flex;
}
.PdXj_8uTq3g_ljxRvXw7:hover .nCVlfpt3bUdw52WCAV61 {
  background-color: #ffffff2b;
}
.rsISWmW7ipCvmmKDBhXU {
  width: auto;
  height: 16px;
}
.nCVlfpt3bUdw52WCAV61 {
  color: #fff;
  white-space: nowrap;
  background-color: #ffffff1a;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
  display: inline-flex;
}
.zwacdlYDkmgoTh6CyNjW {
  align-items: center;
  gap: 16px;
  display: flex;
}
.nHJ_Abf72WxtqNTpR0kW {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  height: 280px;
  padding: 12px;
  transition: background-color 0.2s ease-in;
  display: flex;
  position: relative;
}
.nHJ_Abf72WxtqNTpR0kW:hover {
  background-color: var(--background-elevated-base);
  border: none;
  text-decoration: none;
}
.nHJ_Abf72WxtqNTpR0kW:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.eVeCcQAEOM4tSW4Yxrdg {
  position: relative;
}
.hmDplE1cMKXzEN85MaT9 {
  text-align: center;
  background: #0009;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.LuIT_0usVqY5OP2WlYsk {
  color: #fff;
  margin-top: 8px;
}
.wevBhxTr4fwr4HvjLFqg {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  padding-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
}
.kcT464cPpDanvhrGbEmU {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.fRBJblB7mrcGrVQcC6CL {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.rg5wbOD66PypzDejz_Fm {
  color: #7358ff;
  margin-inline-end: 4px;
  display: inline-block;
}
.rg5wbOD66PypzDejz_Fm svg {
  display: block;
}
.b2DD7bMNNcLIUDL0KjvB {
  padding-bottom: 4px;
}
.M1am6wN3imcHVy_6Vaxn {
  aspect-ratio: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px #0003;
}
.j8oSG850s78AhXM0pJQ1 {
  padding-bottom: var(--encore-spacing-looser-2);
}
.u2OVUgXaMexlm8GR5NAg {
  padding: 32px;
}
.m2sfx0bTGh1XLy_0k3Qg {
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
  display: flex;
}
.tDb2T9_ho_mH5dQggnX3 {
  align-items: center;
  gap: 16px;
  display: flex;
}
.o7rk_yLgB7RGGB4KGYQO {
  margin-bottom: 12px;
}
.fuvStvkfBKo_iuKpHKQs {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.kUsZqEo1CrHpx_R_0JH0 {
  margin-top: 32px;
}
.Swztz829WvQkt7mxEJSw {
  margin-top: 16px;
}
/*# sourceMappingURL=xpui-routes-venues.14894942.css.map*/
