__workaround_element__ {
  --__workaround_property__: 0;
}
.FFMIxCdjTsPV8aspOkCq {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: calc(100vh - 96px);
  margin-top: -64px;
  display: flex;
}
.FFMIxCdjTsPV8aspOkCq.tfuYYoqpBABJkzCw0xqS {
  height: 40vh;
  margin-top: 0;
}
.FFMIxCdjTsPV8aspOkCq svg {
  width: 32px;
  height: 32px;
}
@media (width>=1024px) {
  .FFMIxCdjTsPV8aspOkCq svg {
    width: 64px;
    height: 64px;
  }
}
.vgJqRkalrJegEDFscI31:hover {
  border-color: #0000;
}
.QuUEeTI5hHlx3BR0qFc4 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.l0pDHyfpZobhjA6TMZbP {
  margin-bottom: 20px;
}
@media (width>=1024px) {
  .l0pDHyfpZobhjA6TMZbP {
    margin-bottom: 32px;
  }
}
.KCiTEd4vQiBFG_rC0bK3 {
  padding-bottom: var(--encore-spacing-looser-2);
}
.aBPlJE7QTfdEeS_9UxUg {
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
  display: flex;
}
.rcFBxrXfHSgGQu5Ei0zU {
  pointer-events: none;
  will-change: transform;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uCcEx2VSWhVoLSuldYVu {
  gap: var(--encore-spacing-tighter-2);
  display: flex;
}
.VfWBvwqPUmtMZOCbBp6d {
  color: #0000;
}
.GK9KIkN1f7Fl5djyvN6u {
  transition: opacity 0.5s ease-in-out;
}
.uPNpkh0dOuwNxyp4UrPX {
  position: relative;
}
.YN3r8aFXfcoZFjDmj5Sf {
  z-index: 0;
  margin-inline-start: -48px;
}
.Jv8omg0Um_KvD4AuALQW {
  align-items: center;
  gap: var(--encore-spacing-tighter-2);
  padding-block: var(--encore-spacing-tighter-2);
  display: flex;
}
.uCThWSfCxtHurrFItKjU {
  width: fit-content;
  max-width: 100%;
}
.EFtLYTxWhRMwkYUn3SgT {
  flex-shrink: 0;
}
.PzDEMkr7euiRQILOLemN {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: calc(100vh - 96px);
  padding: 0 16px;
  display: flex;
}
.au7riJi6eHRvaaqMjKG3 {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  display: flex;
}
.O559eYbbnfmtaDzExZov {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: flex;
}
.gSeyc3krfE8MTkv4WsQc {
  flex-wrap: wrap;
  align-items: baseline;
  display: flex;
}
.CRZPIQ9HkB4x9tqDQzCD {
  display: contents;
}
.qSAO9FwOevP52nNqMvIk {
  padding-inline: var(--encore-spacing-tighter-3);
}
.GvFZKRLyzfOeaUMcPhrc {
  margin-inline-end: var(--encore-spacing-tighter-3);
}
.mfmZA_LXKJBCGAi41X3t {
  white-space: nowrap;
  align-items: baseline;
  gap: var(--encore-spacing-tighter-3);
  flex-direction: row;
  display: flex;
}
.tcQ_3PShSOKsjfsqVQAL {
  min-block-size: unset;
  color: #fce54f;
  margin: 0;
}
.Q3w2Cb0r993M7Wstlar_ {
  min-width: 288px;
}
._51asVCD2OQ8nQoMpRq3W {
  pointer-events: none;
  z-index: 1;
  position: relative;
}
.dnw7xu1DFloeEtb3Uyqq {
  z-index: 1;
  align-self: center;
  display: flex;
  position: relative;
}
.AxbsQisry_6eGhnHoeuN {
  cursor: pointer;
  z-index: 0;
  background: 0 0;
  border: 0;
  padding: 0;
  position: absolute;
  inset: 0;
}
.boziK_XhEN4h2G8y22WT {
  z-index: 1;
  position: relative;
}
.uEqjTuMpTVcjk1oFa5FT {
  opacity: 0;
}
.dnw7xu1DFloeEtb3Uyqq:focus-within .uEqjTuMpTVcjk1oFa5FT {
  opacity: 1;
}
.HF7Srlo9ynd4TzTDIwSN {
  height: 100%;
  padding: var(--encore-spacing-base);
  z-index: 2;
  background: 0 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  transition: background 0.2s ease-in-out;
  display: flex;
  position: absolute;
  inset: 0;
}
.HF7Srlo9ynd4TzTDIwSN:hover {
  background: #00000080;
}
.HF7Srlo9ynd4TzTDIwSN:hover .uEqjTuMpTVcjk1oFa5FT {
  opacity: 1;
}
.RTOUtmZ6Yp1_3YvkrYj9 {
  column-gap: var(--encore-spacing-tighter-2);
  padding-block: var(--encore-spacing-base);
  padding-inline: var(--content-spacing) var(--encore-spacing-base);
  pointer-events: none;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  transition: none;
  display: grid;
}
.RTOUtmZ6Yp1_3YvkrYj9:hover {
  background: 0 0;
}
.RTOUtmZ6Yp1_3YvkrYj9 ._51asVCD2OQ8nQoMpRq3W {
  grid-area: 1/1;
}
.RTOUtmZ6Yp1_3YvkrYj9 .boziK_XhEN4h2G8y22WT {
  pointer-events: auto;
  grid-area: 1/2;
}
.RTOUtmZ6Yp1_3YvkrYj9 .dnw7xu1DFloeEtb3Uyqq {
  pointer-events: auto;
  grid-area: 1/3;
  align-self: start;
}
.RTOUtmZ6Yp1_3YvkrYj9 .uEqjTuMpTVcjk1oFa5FT {
  opacity: 1;
}
.Z9Z0fehRJfQ30JWHWCVf {
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.ntpdMVj6DUKW6ZghSQfX {
  --video-object-fit: fill;
  --video-width: auto;
  border-radius: var(--encore-corner-radius-larger-2);
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px #0000004d;
}
.ntpdMVj6DUKW6ZghSQfX video {
  object-fit: var(--video-object-fit);
  height: 100%;
  width: var(--video-width);
}
.ssKN5LwzvzapcePz9Sch {
  --video-object-fit: cover;
  --video-width: 100%;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
}
.ssKN5LwzvzapcePz9Sch:after {
  content: "";
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(
    #1e1e1eb3 0%,
    #1e1e1e00 24.745% 28.739%,
    #1e1e1e 82.484%
  );
  position: absolute;
  inset: 0;
}
.owW1U4U8B4MJU2BQTqC1:after {
  display: none;
}
@keyframes Wyb6IE1FpjzZkcN7NKxz {
  0% {
    transform: translate(-100%);
  }
  to {
    transform: translate(100%);
  }
}
.JvhsQGieHsp5beAlsgTy {
  position: relative;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .JvhsQGieHsp5beAlsgTy:after {
    content: "";
    background-image: linear-gradient(90deg, #0000, #ffffff1a, #0000);
    animation: 2s infinite Wyb6IE1FpjzZkcN7NKxz;
    position: absolute;
    inset: 0;
  }
}
.JvhsQGieHsp5beAlsgTy {
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .JvhsQGieHsp5beAlsgTy:after {
    animation-timing-function: linear;
  }
}
.qldlxStq4_NtmHaYJ2ss {
  background:
    linear-gradient(#00000080, #00000080),
    linear-gradient(120.262deg, #dcdcdc 2.291%, #828080 100%);
}
.qEMN5fD4BCj6SbIlmvjI {
  background:
    linear-gradient(#00000080, #00000080),
    linear-gradient(97.547deg, #dcdcdc 2.291%, #828080 100%);
  border-radius: 4px;
  box-shadow: inset 0 0 4px #0009;
}
.K2V8K0CDvRN5RYAfKv8m {
  aspect-ratio: 9/16;
  align-self: flex-end;
  min-height: 228px;
  max-height: 347px;
  margin-inline-end: var(--encore-spacing-looser-2);
}
.EyY6TfSHrLCMqhRLzK2g {
  aspect-ratio: 9/16;
  align-self: flex-end;
  min-height: 228px;
  max-height: 304px;
  margin-inline-end: var(--encore-spacing-base);
}
@container main-view-grid-area (width>=600px) {
  .EyY6TfSHrLCMqhRLzK2g {
    margin-inline-end: var(--encore-spacing-looser-2);
  }
}
.GFJ7RgKocc5qpYv69cUR {
  width: 100%;
  height: 100%;
}
.rMPCol7RpKywJfsne8z3 {
  --entity-image-size: 64px;
  width: var(--entity-image-size);
  height: var(--entity-image-size);
  cursor: pointer;
  background-color: #0000;
  border: 0;
  padding: 0;
}
.AfyPN_A3dAWwyAbmXt6z {
  width: 100%;
  height: 100%;
  display: block;
}
.eczmzpgX1i2BZ0dPy_eM {
  opacity: 0;
  pointer-events: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}
@media (prefers-reduced-motion: no-preference) {
  .eczmzpgX1i2BZ0dPy_eM {
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
  }
}
.eczmzpgX1i2BZ0dPy_eM.ea4_X9WHRiVwgCp1wAzR {
  opacity: 1;
  transform: translate(-15%, -50%) scale(1);
}
.NjyBjS4wdzPlGBpL4Uy5 {
  opacity: 1;
}
.A2YQHDsQFyLK5Y3Kji0s {
  position: absolute;
  inset: 0;
}
.s_cfVv2or5PTqWODuaIQ {
  width: 64px;
  height: 64px;
  margin-block-end: var(--encore-spacing-tighter-2);
}
.NguXBbYKFELSHlDDUIOR {
  width: 100%;
  height: 100%;
}
.RrS3P8hbgntZv754A0pA {
  display: block;
}
[data-transition="sponsored-playlist"] .RrS3P8hbgntZv754A0pA {
  view-transition-name: sponsored-playlist-cover-art;
}
::view-transition-old(sponsored-playlist-cover-art) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
::view-transition-new(sponsored-playlist-cover-art) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
.Zf6rBDvXfCuiSXJOW3XH {
  cursor: pointer;
  color: #ffffffb3;
  text-align: start;
  background: 0 0;
  border: none;
  margin-top: 8px;
  padding: 0;
  display: inline-block;
}
.Zf6rBDvXfCuiSXJOW3XH:hover,
.Zf6rBDvXfCuiSXJOW3XH:focus {
  text-decoration: underline;
}
.Fi7BkPnlxLX28f_t1v2m {
  width: 100%;
  height: 100%;
}
.TA9CeGsJ_G9M7He0TKpg {
  color: #fff;
  text-align: center;
  opacity: 0;
  background-color: #282828;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
}
.TA9CeGsJ_G9M7He0TKpg:hover,
.TA9CeGsJ_G9M7He0TKpg:focus {
  opacity: 1;
}
.TA9CeGsJ_G9M7He0TKpg:focus:not(:focus-visible, :hover) {
  opacity: 0;
}
.zNUCMdlRvoLHHn63m1kn {
  background-color: #000000b3;
}
.c6NV2Hzb1kqVgOj9qXjw {
  border-radius: 50%;
}
.gSvYTiLHry26pn1gG9jt {
  margin-top: 16px;
  transition: opacity 0.2s;
}
.DBRdKfbsuc9LFjMJ7cev {
  display: block;
}
.hvmZhTJddQOz5ReFZVzv {
  height: inherit;
  width: inherit;
  display: flex;
  position: relative;
}
.ouWVp4baVMEC6yfuXPh1 {
  position: absolute;
  inset: 0;
}
.dEzKsDhDYG10frqzZbJt {
  --modal-max-height: 80vh;
  max-width: 80vw;
  max-height: var(--modal-max-height);
  position: relative;
  overflow: visible;
}
.RB1cV3dpxnnUDPS3MWx4 {
  --modal-gap: 24px;
  align-items: center;
  gap: var(--modal-gap);
  flex-direction: column;
  display: flex;
}
.RPazRXAdmjTmRniR6qp2 {
  --modal-button-height: 48px;
  --available-height: calc(
    var(--modal-max-height) - var(--modal-gap) - var(--modal-button-height)
  );
  max-width: min(var(--image-width, 80vw), 100%);
  max-height: min(
    var(--image-height, var(--available-height)),
    var(--available-height)
  );
  object-fit: contain;
  border-radius: 8px;
  display: block;
  overflow: visible;
}
.K6Tl7B71cD_j2w1B1oWf {
  width: min(
    var(--image-width),
    80vw,
    var(--available-height) * var(--image-aspect-ratio)
  );
  height: auto;
  aspect-ratio: var(--image-aspect-ratio);
}
.g1hTXUfSrEFgjTskYfVG {
  opacity: 0;
  transition:
    opacity 0.3s linear,
    transform 0.3s ease-out;
  transform: translateY(25%) scale(0.6);
}
.iwqUYMCDaZtbb9busV9b {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.hizuDAeKhc1y3lqcBUDB {
  opacity: 0;
  transform: translateY(25%) scale(0.6);
}
.Mw898cSgkZxPcyg5T28R {
  -webkit-backdrop-filter: grayscale();
  backdrop-filter: grayscale();
  overflow: visible;
}
.nYfi82ml4ev3Qj7CaoNi {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
  display: flex;
}
.aMzIcj2Nte0MLTJmbH7F {
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.n0RXqYzbZhrogj2dpzXG {
  color: var(--text-subdued, #ffffffb3);
  white-space: nowrap;
}
._8RWqJULA5HdPeW2W2HhO {
  background-color: var(--background-tinted-base);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
._8RWqJULA5HdPeW2W2HhO:hover {
  background-color: var(--background-tinted-highlight);
}
._8RWqJULA5HdPeW2W2HhO:active {
  background-color: var(--background-tinted-press);
}
._8RWqJULA5HdPeW2W2HhO:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #fff;
}
.HD1WdMfBrsvVI3EXanuj:after {
  content: " ";
  background-color: #2e77d0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  display: inline-block;
}
.rgZlYXx5GN7k74VMecrn {
  flex-direction: column;
  gap: 12px;
  width: 100%;
  display: flex;
}
.AYkMFpUv35NMrwALiw2s {
  justify-content: flex-end;
  display: flex;
}
.XX3BPthohhdoEThhtp5m {
  padding-bottom: var(--encore-spacing-base);
}
/*# sourceMappingURL=xpui-routes-collection-songs.f77dc558.css.map*/
