.rR2260jz5obfl7cL9Zra {
  flex-direction: column;
  gap: 40px;
  padding-block-end: 40px;
  display: flex;
}
.qdCdZTshwMS1DKCpjgMN {
  align-items: center;
  margin-block-start: 8px;
  text-decoration: none;
  display: inline-flex;
}
.qdCdZTshwMS1DKCpjgMN:hover {
  text-decoration: underline;
}
.NQtoI4Kq1ijwHbJ4mVYZ {
  margin-block-end: 16px;
}
.uUho0cbfmC7MkfUJvP9L {
  align-items: center;
  gap: 16px;
  display: flex;
}
.Fhwe9er1yVc4aTu4O4Cr {
  align-items: center;
  gap: 4px;
  display: inline-flex;
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
.Oxy5QR08rkZmgg2rYOVA {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: 0 0;
  border: none;
  padding: 0;
  display: inline-block;
}
.Oxy5QR08rkZmgg2rYOVA:hover .Ewr0UtlmaJc8oRJXmjhO,
.Oxy5QR08rkZmgg2rYOVA:focus .Ewr0UtlmaJc8oRJXmjhO {
  text-decoration: underline;
}
.eVJtAihapEZWqWIh4Ylm {
  word-break: break-word;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  transition: height 0.25s;
  display: flex;
  overflow: hidden;
  color: #b3b3b3 !important;
}
.nvIkOqT2DY2cpLQoDTYg {
  color: #b3b3b3 !important;
}
.nSg_8qfoXIC9kZV0Yikf {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: 0 0;
  border: none;
  align-self: start;
  padding: 0;
  display: inline-block;
}
.n0RXqYzbZhrogj2dpzXG {
  color: var(--text-subdued, rgba(255, 255, 255, 0.7));
  white-space: nowrap;
}
