.rcFBxrXfHSgGQu5Ei0zU {
  pointer-events: none;
  will-change: transform;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uCcEx2VSWhVoLSuldYVu {
  gap: var(--encore-spacing-tighter-2);
  display: flex;
}
.VfWBvwqPUmtMZOCbBp6d {
  color: transparent;
}
.GK9KIkN1f7Fl5djyvN6u {
  transition: opacity 0.5s ease-in-out;
}
.uPNpkh0dOuwNxyp4UrPX {
  position: relative;
}
.YN3r8aFXfcoZFjDmj5Sf {
  z-index: 0;
  margin-inline-start: -48px;
}
.u0pkIX1xvJWrz9FT4M7P {
  padding-block-start: var(--encore-spacing-tighter-4);
}
._M870aVoH6zFZpb_KPgi {
  width: 100%;
  height: var(--entity-row-height);
  padding-block: var(--encore-spacing-tighter-2);
  padding-inline: var(--encore-spacing-tighter-2);
  align-items: center;
  gap: 12px;
  display: flex;
}
.IEKluNDahoDTwWLAupDf {
  align-items: center;
  gap: 4px;
  width: 100%;
  display: inline-flex;
}
.akls_eEyzJcvgWBpvgNy a:link,
.akls_eEyzJcvgWBpvgNy a:visited,
.IEKluNDahoDTwWLAupDf a:link,
.IEKluNDahoDTwWLAupDf a:visited {
  color: var(--extracted-text-subdued, #b3b3b3);
}
.akls_eEyzJcvgWBpvgNy a:hover,
.akls_eEyzJcvgWBpvgNy a:focus,
.akls_eEyzJcvgWBpvgNy a:active,
.IEKluNDahoDTwWLAupDf a:hover,
.IEKluNDahoDTwWLAupDf a:focus,
.IEKluNDahoDTwWLAupDf a:active {
  color: #fff;
  text-decoration: underline;
}
.ovLyV1HPEhoIwrV3xnXj {
  align-items: center;
  gap: 4px;
  width: 100%;
  display: inline-flex;
}
.C2oxlCA6QpuL43uiSsQa {
  display: contents;
}
.PphhkEMHVg6hzdpIFgB6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  overflow: hidden;
}
.moFBrQfLwm39YOZIsY5_ {
  height: var(--entity-row-height);
  grid-gap: 12px;
  padding-inline: var(--encore-spacing-tighter) var(--encore-spacing-tighter-4);
  padding-block: var(--encore-spacing-tighter-2);
  content-visibility: auto;
  margin-inline-start: var(--encore-spacing-tighter-4);
}
.moFBrQfLwm39YOZIsY5_.ZCetcQZqdhnaLhbQPoTi {
  padding-inline: var(--encore-spacing-tighter-2);
  padding-block: var(--encore-spacing-tighter-4);
  margin-inline-start: 0;
}
.FvtoH8efNLt06ORdarNO {
  width: 100%;
  height: 12px;
  position: relative;
}
.CsdJYiqG7_sTuKYLaBVX {
  opacity: 0.4;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
  position: absolute;
  top: 4px;
}
.Rycq7IBTm3sEHsWOAIn3 {
  will-change: transform;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 4px;
  overflow: hidden;
}
.YAPmY_HZqu8_uPjkG9hy {
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transform: translate(-100%);
}
.lEoqF8yJTXrzvBUrfNvp {
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.l63c3qgYPYfrOLklvRUk {
  white-space: nowrap;
  margin: 0;
}
.mrx6NtQg39hpbAl8Gwxz {
  margin: 0;
}
p.l63c3qgYPYfrOLklvRUk + div.pbofaSXUUCALdHPaz4iy:before,
p.l63c3qgYPYfrOLklvRUk + p:before {
  content: "•";
  margin: 0 4px;
}
.zTiBQpKOtjTtSa9XcBvs {
  flex: 1;
  min-width: 30px;
  max-width: 85px;
}
.pbofaSXUUCALdHPaz4iy {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.KcQ7lFlny_z6ULGrfrwA {
  color: #1db954;
}
html[dir="ltr"] .mrx6NtQg39hpbAl8Gwxz {
  padding-right: 8px;
}
html[dir="rtl"] .mrx6NtQg39hpbAl8Gwxz {
  padding-left: 8px;
}
.KatE23ws3s4h91Aw3uXw {
  white-space: nowrap;
}
.AbLFDyC9XrA16bhRl8aA {
  content-visibility: auto;
  position: relative;
}
.RSNZxDKpKBgrooCILuCL {
  cursor: pointer;
  text-align: left;
  background: 0 0;
  border: none;
  width: 100%;
  padding: 0;
  position: relative;
}
.rPZvLFMrGwWQHwNHotuV {
  --transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;
  grid-template-rows: 0fr;
  padding-inline-start: var(--encore-spacing-tighter-2);
  display: grid;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .rPZvLFMrGwWQHwNHotuV {
    transition:
      opacity var(--transition-duration) ease,
      grid-template-rows var(--transition-duration) ease;
  }
}
.IDiku1OORnXDnnLF86_d {
  opacity: 1;
  visibility: visible;
  grid-template-rows: 1fr;
}
.gfLtFK2Gc3uLEx5JgZ35 {
  height: fit-content;
  overflow: hidden;
}
.nvx1GMPKstBgyPGwjH0t {
  margin-top: var(--encore-spacing-tighter-2);
  display: block;
}
.tTA04njOrY3_Iycz2lUX {
  padding-block: var(--encore-spacing-base);
  flex-direction: column;
  align-self: normal;
  margin-inline-start: calc(var(--encore-spacing-tighter-2) * -1);
  display: flex;
}
.nmh1m9O0icHpXZ6C5HIQ {
  max-width: 800px;
  margin: var(--encore-spacing-tighter-4);
}
.QyJI1t16HuArjHfYYrwW {
  margin-top: var(--encore-spacing-looser-3);
  margin-bottom: var(--encore-spacing-base);
}
.p3dtp4aM3CEMF_UwZhZN {
  padding-block-end: var(--encore-spacing-tighter-4);
}
.gRaFFjyE1ig0OVhSlnc1 {
  padding: var(--encore-spacing-base);
  margin-top: var(--encore-spacing-base);
  justify-content: center;
  display: flex;
}
.p9tZXRzUoXCHTg_jYt7r {
  margin-top: var(--encore-spacing-looser-3);
}
/*# sourceMappingURL=xpui-routes-recents.c98621f4.css.map*/
