.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-20);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
  height: 112px;
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
    --color-from: var(--background-base-20);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
.nYfi82ml4ev3Qj7CaoNi {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
  display: flex;
}
.zUSeRapXfxOgV8pOKXd5 {
  white-space: nowrap;
}
.f5lOYVAdETeMBnXk1fL8 {
  white-space: pre;
}
.f5lOYVAdETeMBnXk1fL8:first-child,
.f5lOYVAdETeMBnXk1fL8:last-child,
:is(
  .f5lOYVAdETeMBnXk1fL8:has(+ .f5lOYVAdETeMBnXk1fL8),
  .f5lOYVAdETeMBnXk1fL8:has(+ [data-invisible])
) {
  display: none;
}
.ZQpR6AIduW0wEvrKDaDQ {
  margin-inline: 4px;
}
.sHb_gFCmFuAvXIIrZOKd {
  margin-inline: 0 1px;
}
.csnTvmhuWcCsLPKXQWl1 {
  flex-wrap: wrap;
  gap: 32px;
  margin-block-start: 32px;
  display: flex;
}
.cy15vU_v53Bu0DU4IkQJ {
  flex: 360px;
  max-width: 600px;
}
.LzsMeapvNkWvgAVdyZpZ {
  color: #fff;
  margin-bottom: 24px;
}
.VnsJsYvG8re16wbQboRS,
.A_TxkaIQivaqeYVT4rJU {
  color: #fff;
}
.re1aG1xiPIHFrAsR9Hk9 {
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: flex;
}
.re1aG1xiPIHFrAsR9Hk9 + .re1aG1xiPIHFrAsR9Hk9 {
  margin-top: 16px;
}
.iFNqhGYXoo5SlfWTFHMT {
  padding: 0 12px;
}
.UsO9qAfn4D8mwoGawl79 {
  background-color: var(--background-elevated-base);
  cursor: pointer;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  padding: 16px 12px;
  display: flex;
}
.UsO9qAfn4D8mwoGawl79 .A_TxkaIQivaqeYVT4rJU {
  text-decoration: underline;
}
.UsO9qAfn4D8mwoGawl79:hover {
  background-color: var(--background-elevated-highlight);
}
.Cep2jVwdPIw_QoMF8lg4 {
  width: 430px;
  max-width: 80%;
  max-height: 100%;
  overflow-y: auto;
}
.WqWfdL54zIySys4MLdBk {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}
.uzujYtM1iy0p3WiwQDgS {
  background: var(--background-elevated-base);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 16px 40px;
  display: flex;
}
.V1z7tp9fJ0vbgx2pGt_a {
  flex-direction: column;
  gap: 16px;
  display: flex;
}
.x7kY7VrPmfTqy_lTfUcd {
  width: 320px;
  max-width: 80%;
  max-height: 100%;
  overflow-y: auto;
}
.aUpEnOB23WZgzuFBfEYf {
  background: var(--background-elevated-base);
  border-radius: 4px;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 20px;
  display: flex;
}
.rAwoidH2d7qINbG7GyBX {
  flex-direction: column;
  display: flex;
}
.tZsZL9E9drf1V0o3cCRb {
  cursor: pointer;
  text-align: start;
  background: 0 0;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 2px 0;
  padding: 12px;
}
.tZsZL9E9drf1V0o3cCRb:hover {
  background: var(--background-elevated-highlight);
}
.i1gxFRBzC7wHNDK1kZqZ {
  cursor: pointer;
  background: var(--background-elevated-highlight);
  text-align: start;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 2px 0;
  padding: 12px;
}
.Hho1kvGm_YTqyfosoQh6 {
  border-top: 1px solid var(--background-elevated-highlight);
  justify-content: flex-end;
  gap: 8px;
  margin: 8px -20px -20px;
  padding: 12px 20px;
  display: flex;
}
.zWBp7U3pA_4SlzuSGofH {
  margin-top: 20px;
}
.nHJ_Abf72WxtqNTpR0kW {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  height: 280px;
  padding: 12px;
  transition: background-color 0.2s ease-in;
  display: flex;
  position: relative;
}
.nHJ_Abf72WxtqNTpR0kW:hover {
  background-color: var(--background-elevated-base);
  border: none;
  text-decoration: none;
}
.nHJ_Abf72WxtqNTpR0kW:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.eVeCcQAEOM4tSW4Yxrdg {
  position: relative;
}
.hmDplE1cMKXzEN85MaT9 {
  text-align: center;
  background: #0009;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.LuIT_0usVqY5OP2WlYsk {
  color: #fff;
  margin-top: 8px;
}
.wevBhxTr4fwr4HvjLFqg {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  padding-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
}
.kcT464cPpDanvhrGbEmU {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.fRBJblB7mrcGrVQcC6CL {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.rg5wbOD66PypzDejz_Fm {
  color: #7358ff;
  margin-inline-end: 4px;
  display: inline-block;
}
.rg5wbOD66PypzDejz_Fm svg {
  display: block;
}
.b2DD7bMNNcLIUDL0KjvB {
  padding-bottom: 4px;
}
.M1am6wN3imcHVy_6Vaxn {
  aspect-ratio: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px #0003;
}
.ShZIrVUVSu46pY3GbhZ8 {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 272px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ShZIrVUVSu46pY3GbhZ8:hover {
  border: none;
}
.ShZIrVUVSu46pY3GbhZ8:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.Ors5EJu1or_upssgEz0y {
  padding: 8px;
  position: absolute;
  bottom: 0;
}
.Ors5EJu1or_upssgEz0y .ocES4pbdcuyzMRyvHswR {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  color: #fff;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.zIHX5zqfUCs6TrynSgJQ {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 2px 4px #0003;
}
.aiNSWgQxDb7ijftZBv55 {
  padding-top: 24px;
}
.loVxiXaF470p4md9ZgwX {
  margin-bottom: 16px;
}
.d8LlLI4YAeyxIWH5to6Q {
  max-width: 200px;
}
/*# sourceMappingURL=xpui-routes-concert.92742474.css.map*/
