.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
.SRNZshOvjSTiWa2Vd3Kv {
  padding: 0;
}
.FFMIxCdjTsPV8aspOkCq {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: calc(100vh - 96px);
  margin-top: -64px;
  display: flex;
}
.FFMIxCdjTsPV8aspOkCq.tfuYYoqpBABJkzCw0xqS {
  height: 40vh;
  margin-top: 0;
}
.FFMIxCdjTsPV8aspOkCq svg {
  width: 32px;
  height: 32px;
}
@media (width>=1024px) {
  .FFMIxCdjTsPV8aspOkCq svg {
    width: 64px;
    height: 64px;
  }
}
.vgJqRkalrJegEDFscI31:hover {
  border-color: #0000;
}
.QuUEeTI5hHlx3BR0qFc4 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.l0pDHyfpZobhjA6TMZbP {
  margin-bottom: 20px;
}
@media (width>=1024px) {
  .l0pDHyfpZobhjA6TMZbP {
    margin-bottom: 32px;
  }
}
__workaround_element__ {
  --__workaround_property__: 0;
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.nYfi82ml4ev3Qj7CaoNi {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
  display: flex;
}
.zUSeRapXfxOgV8pOKXd5 {
  white-space: nowrap;
}
.f5lOYVAdETeMBnXk1fL8 {
  white-space: pre;
}
.f5lOYVAdETeMBnXk1fL8:first-child,
.f5lOYVAdETeMBnXk1fL8:last-child,
:is(
  .f5lOYVAdETeMBnXk1fL8:has(+ .f5lOYVAdETeMBnXk1fL8),
  .f5lOYVAdETeMBnXk1fL8:has(+ [data-invisible])
) {
  display: none;
}
.ZQpR6AIduW0wEvrKDaDQ {
  margin-inline: 4px;
}
.sHb_gFCmFuAvXIIrZOKd {
  margin-inline: 0 1px;
}
.lG4nyXnX96VX1CduiT90 {
  background-color: #282828;
  border-radius: 8px;
  outline: none;
  width: 90vw;
  max-width: 480px;
  padding: 24px;
}
.oF_qP22sfUxuCYEaglre {
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  display: flex;
}
.ysxn68dHMZe4M7JC5cYy {
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}
.iSR0qM8eAdD90zx9f3Wy {
  color: #fff;
  flex: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.KlTjd3l0WuTkVAz2XIrS {
  color: #ffffffb3;
  cursor: pointer;
  background: 0 0;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: color 0.3s cubic-bezier(0.3, 0, 0, 1);
  display: flex;
}
.KlTjd3l0WuTkVAz2XIrS:hover {
  color: #fff;
}
.jn1Rt5aKMFT_k7ACLcWh {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
}
.LUrY7n87zG78vFCH7SeF {
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  display: inline-flex;
}
.KgRAE9ooO9vJnXW3MUO0 {
  width: auto;
  height: 16px;
}
.PcJFouC3KhyrgVERkDqn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 11px;
  font-weight: 700;
}
.jANA4b30quV8DYikKHuF {
  color: #ffffffb3;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}
.PdXj_8uTq3g_ljxRvXw7 {
  cursor: pointer;
  color: inherit;
  background: 0 0;
  border: none;
  align-items: center;
  gap: 8px;
  padding: 0;
  display: inline-flex;
}
.PdXj_8uTq3g_ljxRvXw7:hover .nCVlfpt3bUdw52WCAV61 {
  background-color: #ffffff2b;
}
.rsISWmW7ipCvmmKDBhXU {
  width: auto;
  height: 16px;
}
.nCVlfpt3bUdw52WCAV61 {
  color: #fff;
  white-space: nowrap;
  background-color: #ffffff1a;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
  display: inline-flex;
}
.zwacdlYDkmgoTh6CyNjW {
  align-items: center;
  gap: 16px;
  display: flex;
}
.nSQY8BrztHsNxx8bnxFv {
  text-underline-offset: 2px;
  text-decoration: underline;
  display: block;
}
.nHJ_Abf72WxtqNTpR0kW {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  height: 280px;
  padding: 12px;
  transition: background-color 0.2s ease-in;
  display: flex;
  position: relative;
}
.nHJ_Abf72WxtqNTpR0kW:hover {
  background-color: var(--background-elevated-base);
  border: none;
  text-decoration: none;
}
.nHJ_Abf72WxtqNTpR0kW:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.eVeCcQAEOM4tSW4Yxrdg {
  position: relative;
}
.hmDplE1cMKXzEN85MaT9 {
  text-align: center;
  background: #0009;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.LuIT_0usVqY5OP2WlYsk {
  color: #fff;
  margin-top: 8px;
}
.wevBhxTr4fwr4HvjLFqg {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  padding-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
}
.kcT464cPpDanvhrGbEmU {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.fRBJblB7mrcGrVQcC6CL {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.rg5wbOD66PypzDejz_Fm {
  color: #7358ff;
  margin-inline-end: 4px;
  display: inline-block;
}
.rg5wbOD66PypzDejz_Fm svg {
  display: block;
}
.b2DD7bMNNcLIUDL0KjvB {
  padding-bottom: 4px;
}
.M1am6wN3imcHVy_6Vaxn {
  aspect-ratio: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px #0003;
}
.j8oSG850s78AhXM0pJQ1 {
  padding-bottom: var(--encore-spacing-looser-2);
}
.u2OVUgXaMexlm8GR5NAg {
  padding: 32px;
}
.m2sfx0bTGh1XLy_0k3Qg {
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
  display: flex;
}
.tDb2T9_ho_mH5dQggnX3 {
  align-items: center;
  gap: 16px;
  display: flex;
}
.o7rk_yLgB7RGGB4KGYQO {
  margin-bottom: 12px;
}
.fuvStvkfBKo_iuKpHKQs {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.kUsZqEo1CrHpx_R_0JH0 {
  margin-top: 32px;
}
.Swztz829WvQkt7mxEJSw {
  margin-top: 16px;
}
/*# sourceMappingURL=xpui-routes-venues.389b07be.css.map*/
