@keyframes NlDzzfyi_ZjdiR72jwlY {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ORJCplAyrP0ZZG9f3Otj {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uts076sonNqMzXMEydcF {
  position: relative;
}
.FqXZ78rF1NbfyZ5y4FsK {
  color: #ffffffb3;
  text-overflow: ellipsis;
  opacity: 1;
  width: 100%;
  height: 40px;
  transition-property: opacity width;
  background-color: #ffffff1a;
  border: 0;
  border-radius: 4px;
  padding: 8px 32px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
}
.FqXZ78rF1NbfyZ5y4FsK::-ms-clear {
  display: none;
}
.FqXZ78rF1NbfyZ5y4FsK::placeholder {
  color: #ffffffb3;
}
.t_TRInTkeLPjjYLbbJLr {
  pointer-events: none;
  opacity: 1;
  align-items: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
  display: flex;
  position: absolute;
  inset: 0 10px;
}
.Q31aCyKJVUBuAZjWKXAn {
  color: #ffffffb3;
  flex: 1;
}
.pct2q3pNdEKcGenj2lwQ {
  display: block;
}
.QER9m0kE4opwsyPBWY_r {
  pointer-events: auto;
  color: #ffffffb3;
  background-color: #0000;
  border: 0;
  align-items: center;
  padding: 0;
  display: flex;
}
.VskMfQ389iCIKoXF_w6i,
.yMB7c55NzLPShLb_8JWX {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.yMB7c55NzLPShLb_8JWX {
  color: #b3b3b3;
  background-color: #282828;
  justify-content: center;
  align-items: center;
  display: flex;
}
.YUmaDNGz0rdW3O150uhH {
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
.ox9ondsnkETerphLlAqA {
  width: 40px;
  height: 40px;
}
.VskMfQ389iCIKoXF_w6i,
.YUmaDNGz0rdW3O150uhH,
.ox9ondsnkETerphLlAqA,
.yMB7c55NzLPShLb_8JWX {
  margin-inline-start: -8px;
}
.ONNiGsIY7NdQb70wO7lO {
  color: #fff;
}
.ezJY83kCHJBqNoQn3SgX {
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  max-height: 64px;
  padding: 0 16px;
  display: flex;
}
.ezJY83kCHJBqNoQn3SgX:hover {
  background-color: #ffffff1a;
}
.ezJY83kCHJBqNoQn3SgX:active {
  background-color: #ffffff4d;
}
.whMW900CVX3nYGA2bn4t {
  align-items: center;
  display: flex;
}
.Shr_k3VAnuLeZhDO3uQz {
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 16px;
  display: flex;
}
.SoYeT_BTcAto82YFqwRq {
  background: 0 0;
  border: none;
  margin-left: auto;
}
.gHziLv9DXoZ4WR9JhaRz {
  width: 100%;
  height: inherit;
  background: 0 0;
  border: none;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.atnpDT3Q7hG5GVWl9aCV {
  margin-bottom: 16px;
}
.S7cKuW4Rf2doAZAvroZQ {
  flex-direction: column;
  align-items: center;
  width: 16px;
  display: flex;
}
.EDJPM_bD5PSg81rLDgBQ {
  margin-inline: -12px;
}
.AHJayEZca07_zR9bZp66 {
  content-visibility: auto;
  contain-intrinsic-height: calc(var(--last-height));
  opacity: 1;
  margin-top: 40px;
  margin-inline: -12px;
  transition: opacity 0.15s ease-in-out;
}
.AHJayEZca07_zR9bZp66:empty {
  min-height: var(--last-height);
  will-change: opacity;
  opacity: 0;
}
.XqHQfCQKeUvdGCulQZwO {
  margin-inline: 12px;
}
.nqWM6tkibglxJjfMoUYe {
  margin-bottom: 0;
}
.gSeyc3krfE8MTkv4WsQc {
  flex-wrap: wrap;
  align-items: baseline;
  display: flex;
}
.CRZPIQ9HkB4x9tqDQzCD {
  display: contents;
}
.qSAO9FwOevP52nNqMvIk {
  padding-inline: var(--encore-spacing-tighter-3);
}
.GvFZKRLyzfOeaUMcPhrc {
  margin-inline-end: var(--encore-spacing-tighter-3);
}
.mfmZA_LXKJBCGAi41X3t {
  white-space: nowrap;
  align-items: baseline;
  gap: var(--encore-spacing-tighter-3);
  flex-direction: row;
  display: flex;
}
.tcQ_3PShSOKsjfsqVQAL {
  min-block-size: unset;
  color: #fce54f;
  margin: 0;
}
.Q3w2Cb0r993M7Wstlar_ {
  min-width: 288px;
}
._51asVCD2OQ8nQoMpRq3W {
  pointer-events: none;
}
.dnw7xu1DFloeEtb3Uyqq {
  align-self: center;
  display: flex;
}
.uEqjTuMpTVcjk1oFa5FT {
  visibility: hidden;
}
.HF7Srlo9ynd4TzTDIwSN {
  height: 100%;
  padding: var(--encore-spacing-base);
  z-index: 2;
  background: 0 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  transition: background 0.2s ease-in-out;
  display: flex;
  position: absolute;
  inset: 0;
}
.HF7Srlo9ynd4TzTDIwSN:hover {
  background: #00000080;
}
.HF7Srlo9ynd4TzTDIwSN:hover .uEqjTuMpTVcjk1oFa5FT {
  visibility: visible;
}
.Z9Z0fehRJfQ30JWHWCVf {
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.ntpdMVj6DUKW6ZghSQfX {
  border-radius: var(--encore-corner-radius-larger-2);
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px #0000004d;
}
.ntpdMVj6DUKW6ZghSQfX video {
  height: 100%;
}
.K2V8K0CDvRN5RYAfKv8m {
  aspect-ratio: 9/16;
  min-height: 228px;
  max-height: 347px;
}
.EyY6TfSHrLCMqhRLzK2g {
  aspect-ratio: 9/16;
  min-height: 228px;
  max-height: 304px;
}
.rMPCol7RpKywJfsne8z3 {
  --entity-image-size: 64px;
  width: var(--entity-image-size);
  height: var(--entity-image-size);
  cursor: pointer;
  background-color: #0000;
  border: 0;
  padding: 0;
}
.AfyPN_A3dAWwyAbmXt6z {
  width: 100%;
  height: 100%;
  display: block;
}
.NjyBjS4wdzPlGBpL4Uy5 {
  opacity: 1;
}
.s_cfVv2or5PTqWODuaIQ {
  width: 64px;
  height: 64px;
  margin-block-end: var(--encore-spacing-tighter-2);
}
.NguXBbYKFELSHlDDUIOR {
  width: 100%;
  height: 100%;
}
.RrS3P8hbgntZv754A0pA {
  display: block;
}
[data-transition="sponsored-playlist"] .RrS3P8hbgntZv754A0pA {
  view-transition-name: sponsored-playlist-cover-art;
}
::view-transition-old(sponsored-playlist-cover-art) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
::view-transition-new(sponsored-playlist-cover-art) {
  animation-duration: var(--encore-short-4);
  animation-timing-function: var(--encore-expressive-decelerate);
}
.Zf6rBDvXfCuiSXJOW3XH {
  cursor: pointer;
  color: #ffffffb3;
  text-align: start;
  background: 0 0;
  border: none;
  margin-top: 8px;
  padding: 0;
  display: inline-block;
}
.Zf6rBDvXfCuiSXJOW3XH:hover,
.Zf6rBDvXfCuiSXJOW3XH:focus {
  text-decoration: underline;
}
.aMzIcj2Nte0MLTJmbH7F {
  white-space: nowrap;
  align-items: center;
  display: flex;
}
._8RWqJULA5HdPeW2W2HhO {
  background-color: var(--background-tinted-base);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
._8RWqJULA5HdPeW2W2HhO:hover {
  background-color: var(--background-tinted-highlight);
}
._8RWqJULA5HdPeW2W2HhO:active {
  background-color: var(--background-tinted-press);
}
._8RWqJULA5HdPeW2W2HhO:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #fff;
}
.HD1WdMfBrsvVI3EXanuj:after {
  content: " ";
  background-color: #2e77d0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  display: inline-block;
}
.rcFBxrXfHSgGQu5Ei0zU {
  pointer-events: none;
  will-change: transform;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.uCcEx2VSWhVoLSuldYVu {
  gap: var(--encore-spacing-tighter-2);
  display: flex;
}
.VfWBvwqPUmtMZOCbBp6d {
  color: #0000;
}
.GK9KIkN1f7Fl5djyvN6u {
  transition: opacity 0.5s ease-in-out;
}
.uPNpkh0dOuwNxyp4UrPX {
  position: relative;
}
.YN3r8aFXfcoZFjDmj5Sf {
  z-index: 0;
  margin-inline-start: -48px;
}
.GnacvtNJMVh9w9NhF2lp {
  padding-block: var(--encore-spacing-tighter-2);
}
.CdjtcP_lqw0xLb0V7GpJ {
  min-width: 0;
  margin-inline: calc(-1 * var(--content-spacing));
  padding-inline: var(--content-spacing);
}
.tf3nhXo8YcWyd8BK8Tgv {
  gap: var(--encore-spacing-tighter-2);
  width: max-content;
  margin: -6px;
  padding-block: 12px;
  padding-inline: 6px;
  display: flex;
  overflow-y: hidden;
}
.XHI00cdP8EofJsZXH1q9 {
  background-color: #ffffff1a;
}
.XHI00cdP8EofJsZXH1q9:active {
  background-color: #ffffff4d;
}
.qQWFj6qNlK0UyHisXumx {
  padding-bottom: var(--encore-spacing-base);
}
.v7l8R2LqTiqpLnip84fM {
  background: var(--background-base);
  isolation: isolate;
  min-width: 0;
}
.dhad7EoV4rOK_TaxsEl3 {
  grid-template: "aside" "content" 1fr / auto;
  display: grid;
}
.HxoTZyHM6qtzHzgugyE8 {
  -moz-column-gap: 4%;
  grid-template: "content aside"/2fr 1fr;
  column-gap: 4%;
}
.LJQUF_xUdHtMgUSYbf7u {
  grid-area: aside;
}
.yvpoF4nd0IuBGinDkL0o {
  grid-area: content;
}
/*# sourceMappingURL=xpui-routes-playlist.3a1317ab.css.map*/
