.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.nHJ_Abf72WxtqNTpR0kW {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  height: 280px;
  padding: 12px;
  transition: background-color 0.2s ease-in;
  display: flex;
  position: relative;
}
.nHJ_Abf72WxtqNTpR0kW:hover {
  background-color: var(--background-elevated-base);
  border: none;
  text-decoration: none;
}
.nHJ_Abf72WxtqNTpR0kW:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.eVeCcQAEOM4tSW4Yxrdg {
  position: relative;
}
.hmDplE1cMKXzEN85MaT9 {
  text-align: center;
  background: #0009;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 8px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.LuIT_0usVqY5OP2WlYsk {
  color: #fff;
  margin-top: 8px;
}
.wevBhxTr4fwr4HvjLFqg {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  padding-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
}
.kcT464cPpDanvhrGbEmU {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.fRBJblB7mrcGrVQcC6CL {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.rg5wbOD66PypzDejz_Fm {
  color: #7358ff;
  margin-inline-end: 4px;
  display: inline-block;
}
.rg5wbOD66PypzDejz_Fm svg {
  display: block;
}
.b2DD7bMNNcLIUDL0KjvB {
  padding-bottom: 4px;
}
.M1am6wN3imcHVy_6Vaxn {
  aspect-ratio: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px #0003;
}
.xZpSGMDAtNEJQ2V2CGQl {
  border: none;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  height: 280px;
  padding: 12px;
  transition: background-color 0.2s ease-in;
  display: flex;
  position: relative;
}
.xZpSGMDAtNEJQ2V2CGQl:hover {
  background-color: var(--background-elevated-base);
  border: none;
  text-decoration: none;
}
.xZpSGMDAtNEJQ2V2CGQl:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
._AtxxtZOYsONV6cwZfj1 {
  position: relative;
}
.LSUT0SOkrt4xomEYupo9 {
  aspect-ratio: 1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-elevated-base);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px #0003;
}
.I6nBPL57J9p0gbSxBDKM {
  margin-top: 8px;
}
.bLhc0sd4QceqyKaL4GwX {
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  padding-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.FFMIxCdjTsPV8aspOkCq {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: calc(100vh - 96px);
  margin-top: -64px;
  display: flex;
}
.FFMIxCdjTsPV8aspOkCq.tfuYYoqpBABJkzCw0xqS {
  height: 40vh;
  margin-top: 0;
}
.FFMIxCdjTsPV8aspOkCq svg {
  width: 32px;
  height: 32px;
}
@media (width>=1024px) {
  .FFMIxCdjTsPV8aspOkCq svg {
    width: 64px;
    height: 64px;
  }
}
.vgJqRkalrJegEDFscI31:hover {
  border-color: #0000;
}
.QuUEeTI5hHlx3BR0qFc4 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.l0pDHyfpZobhjA6TMZbP {
  margin-bottom: 20px;
}
@media (width>=1024px) {
  .l0pDHyfpZobhjA6TMZbP {
    margin-bottom: 32px;
  }
}
._34VPtUuk9NW63f5TFg5A {
  padding-top: 32px;
}
.JlxGv_NjTt7PFiqIPyiK {
  margin-top: 16px;
}
/*# sourceMappingURL=xpui-routes-collection-concert-gallery.854f64be.css.map*/
