__workaround_element__ {
  --__workaround_property__: 0;
}
.RbQL7wnZlM9v6D1B30R0 {
  outline: none;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform: translate(0);
}
.kVikHQywmajoS4aFEt0S {
  padding: 12px 8px 8px;
  align-items: center;
  padding-inline-start: 24px;
  display: flex;
}
.spotify__os--is-windows .kVikHQywmajoS4aFEt0S {
  padding-top: 12px;
}
.x0SJimu29wxYRzlTIQI0 {
  color: #fff;
  text-transform: lowercase;
  flex: 1;
  font-size: 14px;
}
.x0SJimu29wxYRzlTIQI0:first-letter {
  text-transform: uppercase;
}
.eV4anSzbdksgzhBp_Y31 {
  padding-inline: 0 8px;
  display: flex;
}
.BW8VTbMPJtPEHNNvR69M {
  flex-direction: column;
  gap: 24px;
  display: flex;
}
.nK725h59JA0IYlgDdU0S {
  margin-inline: -8px;
}
.nK725h59JA0IYlgDdU0S .slD9zXVwte2zQAC20moc {
  margin-block: -16px 12px;
  margin-inline: 4px;
}
.WcJ_DqdY70tcnS6CQEOf {
  flex-direction: column;
  gap: 4px;
  display: flex;
}
.ESAv6owY2EfyPXNw5_34 {
  --friend-activity-image-outline: var(--background-base);
  --friend-activity-play-control-opacity: 0;
  cursor: default;
  width: 100%;
  position: relative;
}
.ESAv6owY2EfyPXNw5_34:is(:hover, :focus-within) {
  --friend-activity-image-outline: var(--list-row-hover-bg);
  --friend-activity-play-control-opacity: 1;
  background-color: var(--list-row-hover-bg);
}
.ESAv6owY2EfyPXNw5_34:has(
  .qxjQbsN3ZdJDbMfnNbQm[data-context-menu-open="true"]
) {
  --friend-activity-image-outline: var(--list-row-hover-bg);
  --friend-activity-play-control-opacity: 1;
  background-color: var(--list-row-hover-bg);
}
.slD9zXVwte2zQAC20moc {
  margin-block-end: -8px;
}
.aWrPEdmQfRl9D1N7BoG_ {
  background-color: #1a1a1a;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  height: 50px;
}
.cxO6rio2VSTH4TZkHO5M {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-inline-start: 16px;
}
.JHbbE9lFTIB5Ecip2KU3 {
  z-index: 4;
  background-color: var(--background-highlight);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.ZjIMEqCoHyOM0v6LSV9M {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.OvWu0gu5wkOjuQdIQ0e1 {
  color: #b3b3b3;
  padding-top: 2px;
  position: relative;
}
.OvWu0gu5wkOjuQdIQ0e1 .DN3jLf68w2Oc_JdCpw1z {
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
}
.OvWu0gu5wkOjuQdIQ0e1 .DN3jLf68w2Oc_JdCpw1z:hover,
.OvWu0gu5wkOjuQdIQ0e1 .DN3jLf68w2Oc_JdCpw1z:focus {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.OvWu0gu5wkOjuQdIQ0e1 .zzTALRBiNag_A7teoYG5 {
  width: 16px;
  height: 16px;
}
.WdXA2Pj1sCb7nr1a9gAW {
  align-self: center;
  padding-top: 0;
}
.sXbcqvUnfvYcmI56YxZ8 {
  align-items: baseline;
  min-width: 0;
  display: flex;
}
.Hqok4fTwB9scj9RHHZjw {
  max-block-size: none;
  align-self: center;
  gap: var(--encore-spacing-tighter-5);
  min-width: 0;
  margin-inline-end: 32px;
}
.zUEOAOmlBJgmqiB1udWc,
.wuLG4FidOOlgTlak38fM {
  color: var(--text-subdued);
  font-size: var(--encore-text-size-smaller);
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: 400;
}
.HabYC9B4ShLc2UmqOzK2 {
  align-items: baseline;
  gap: 4px;
  min-width: 0;
  display: flex;
}
.wmOD7W3oJK7TyKv9O9Nb {
  flex-shrink: 0;
  display: flex;
}
.vXGNo5vvu4B3IecoWjMx {
  grid-template-columns: minmax(0, auto) minmax(0, 1fr);
  min-width: 0;
  display: grid;
  overflow: hidden;
}
.r4Hryg7rMHDLVcNxNpko {
  min-width: 0;
  display: flex;
  overflow: hidden;
}
.OziEVcPycwenazT5RqRe {
  white-space: nowrap;
  flex-shrink: 0;
}
.YhoXgg2KRZRIkY9wNqeH {
  min-width: 0;
}
.zlVIGACTeJulf_MCw7kb {
  align-items: center;
  gap: 4px;
  max-width: 100%;
  display: inline-flex;
}
.h8icTolOjmscHXeNc_aw {
  flex-shrink: 0;
}
.wj0kaAf2otCY8Dyv3QwF {
  min-width: 0;
}
.sXbcqvUnfvYcmI56YxZ8:has(.VJ4v2N3lsiKYyDxikyxT:focus-visible) {
  overflow: visible;
}
.HabYC9B4ShLc2UmqOzK2:has(.VJ4v2N3lsiKYyDxikyxT:focus-visible) {
  overflow: visible;
}
.vXGNo5vvu4B3IecoWjMx:has(.VJ4v2N3lsiKYyDxikyxT:focus-visible) {
  overflow: visible;
}
.r4Hryg7rMHDLVcNxNpko:has(.VJ4v2N3lsiKYyDxikyxT:focus-visible) {
  overflow: visible;
}
.YhoXgg2KRZRIkY9wNqeH:has(.VJ4v2N3lsiKYyDxikyxT:focus-visible) {
  overflow: visible;
}
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT {
  color: inherit;
  cursor: pointer;
  min-width: 0;
  text-decoration: none;
}
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:link,
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:visited,
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:focus,
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:active,
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT[data-context-menu-open="true"] {
  text-decoration: none;
}
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:hover {
  text-decoration: underline;
}
.ESAv6owY2EfyPXNw5_34 .VJ4v2N3lsiKYyDxikyxT:focus-visible {
  border-radius: var(--encore-corner-radius-base);
  outline-offset: var(--encore-border-width-focus);
  text-decoration: underline;
  text-decoration-thickness: var(--encore-border-width-focus);
}
.byLx_iTi9fk8BtrNOINl:hover,
.byLx_iTi9fk8BtrNOINl:focus,
.byLx_iTi9fk8BtrNOINl:active,
.zlVIGACTeJulf_MCw7kb:hover,
.zlVIGACTeJulf_MCw7kb:focus,
.zlVIGACTeJulf_MCw7kb:active {
  color: var(--text-base);
}
.oksS2fAAGiVG62gJmaEr .byLx_iTi9fk8BtrNOINl:hover,
.oksS2fAAGiVG62gJmaEr .byLx_iTi9fk8BtrNOINl:focus,
.oksS2fAAGiVG62gJmaEr .byLx_iTi9fk8BtrNOINl:active {
  color: inherit;
}
.F5m06371cB6oDxDtljQv {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 8px;
  transform: translateY(-50%);
}
@media (hover: hover) and (pointer: fine) {
  .Hqok4fTwB9scj9RHHZjw {
    margin-inline-end: 0;
  }
  .qxjQbsN3ZdJDbMfnNbQm {
    opacity: 0;
  }
  .ESAv6owY2EfyPXNw5_34:is(:hover, :focus-within) .Hqok4fTwB9scj9RHHZjw {
    margin-inline-end: 32px;
  }
  .ESAv6owY2EfyPXNw5_34:has(
      .qxjQbsN3ZdJDbMfnNbQm[data-context-menu-open="true"]
    )
    .Hqok4fTwB9scj9RHHZjw {
    margin-inline-end: 32px;
  }
  .ESAv6owY2EfyPXNw5_34:is(:hover, :focus-within) .qxjQbsN3ZdJDbMfnNbQm {
    opacity: 1;
  }
  .ESAv6owY2EfyPXNw5_34:has(
      .qxjQbsN3ZdJDbMfnNbQm[data-context-menu-open="true"]
    )
    .qxjQbsN3ZdJDbMfnNbQm {
    opacity: 1;
  }
}
.sRjA9HxkYXSnZJDTGPZR {
  pointer-events: auto;
  cursor: default;
  flex-basis: 100%;
  width: calc(100% - 72px);
  margin-inline-start: 12px;
  line-height: 17px;
}
.sRjA9HxkYXSnZJDTGPZR .Qq0rPwOjuyfgGQTNvEwo {
  color: rgba(255, 255, 255, 0.7);
  justify-content: space-between;
  display: flex;
}
.sRjA9HxkYXSnZJDTGPZR .Qq0rPwOjuyfgGQTNvEwo .knrAgtzK7F9YquYFL1UF {
  padding-inline-end: 4px;
  padding-bottom: 2px;
}
.sRjA9HxkYXSnZJDTGPZR .Qq0rPwOjuyfgGQTNvEwo .h4yfK4FOZbKVWs0vodCA {
  white-space: nowrap;
}
.sRjA9HxkYXSnZJDTGPZR .ew2i4b7x44k3xqklErxw {
  color: #fff;
  padding-bottom: 2px;
  font-size: 12px;
  display: flex;
}
.sRjA9HxkYXSnZJDTGPZR .TpMd7sDqdCfKK7WmtKB6 {
  flex-shrink: 0;
  padding-inline-end: 4px;
  font-size: 12px;
}
.sRjA9HxkYXSnZJDTGPZR .PWjQBJdkFeHJByX6OdVK {
  padding-bottom: 2px;
  font-size: 12px;
}
.sRjA9HxkYXSnZJDTGPZR .qgcjg9YS8chhh1WY2XyT {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
}
.sRjA9HxkYXSnZJDTGPZR .knrAgtzK7F9YquYFL1UF a,
.sRjA9HxkYXSnZJDTGPZR .ew2i4b7x44k3xqklErxw a {
  color: rgba(255, 255, 255, 0.7);
}
.sRjA9HxkYXSnZJDTGPZR .knrAgtzK7F9YquYFL1UF a:hover,
.sRjA9HxkYXSnZJDTGPZR .knrAgtzK7F9YquYFL1UF a:focus,
.sRjA9HxkYXSnZJDTGPZR .knrAgtzK7F9YquYFL1UF a:active,
.sRjA9HxkYXSnZJDTGPZR .ew2i4b7x44k3xqklErxw a:hover,
.sRjA9HxkYXSnZJDTGPZR .ew2i4b7x44k3xqklErxw a:focus,
.sRjA9HxkYXSnZJDTGPZR .ew2i4b7x44k3xqklErxw a:active,
.knrAgtzK7F9YquYFL1UF a {
  color: #fff;
}
[dir="rtl"] .sRjA9HxkYXSnZJDTGPZR .h4yfK4FOZbKVWs0vodCA {
  color: #b3b3b3;
}
[dir="rtl"] .sRjA9HxkYXSnZJDTGPZR .qgcjg9YS8chhh1WY2XyT {
  color: #b3b3b3;
}
.lD2lBrMiGfBHIGdCs5IY {
  display: none;
}
.RbQL7wnZlM9v6D1B30R0.ejhuEJCgFfc42xzKlIqm .lD2lBrMiGfBHIGdCs5IY {
  display: block;
}
.A2RTELxHES0NtCav1T8M .CxqkMyJEQv75nkl33Juz {
  background-color: #333;
  margin: 0 16px;
  padding: 12px;
  display: none;
}
.nimcIcr9_aXcNl6sQFgQ {
  text-align: center;
  color: #fff;
  margin-top: 26px;
  display: block;
}
.Z3fba9Y79O0012UvoAAA {
  flex-direction: column;
  padding: 8px 16px;
  display: flex;
}
.Z3fba9Y79O0012UvoAAA .STnD_pQZ2y0lr8Ysv_Xg {
  margin-top: -32px;
  margin-bottom: 16px;
}
.Z3fba9Y79O0012UvoAAA .zFyO7QV_4EAZkmj45jZF {
  color: #ccc;
  margin-bottom: 16px;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 {
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 .cPV8zkMjwSi3M6wsAlJb {
  background: #333;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 .mXAGMDbpQi41xFeOA39H {
  background: #2e77d0;
  border: 1px solid #000;
  border-radius: 8px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5%;
  left: 80%;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 .jmrvhXWb1XkIGzpmsPEt {
  margin-inline-start: 12px;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 .GPaY6VSxzZyiLabMScRe {
  background: #333;
  border-radius: 4px;
  width: 62px;
  height: 8px;
  margin-bottom: 4px;
}
.Z3fba9Y79O0012UvoAAA .UMPNATshdatPBz2k4QM7 .GzvAg6sZnO_YK2fYZD9u {
  width: 80px;
}
.Z3fba9Y79O0012UvoAAA .X7T8npyx2qYHCvOly4Am {
  align-self: center;
}
.Z3fba9Y79O0012UvoAAA .cWTDasI7lbWoRcCwBoGk {
  font-size: 14px;
}
.NSdCaGLPvoAXRq5vTYzR {
  --album-image-size: 24px;
  --container-size: 48px;
  --play-icon-size: 12px;
  --album-image-border-radius: 2px;
  --person-placeholder-font-size: var(--encore-text-size-larger-2);
  width: var(--container-size);
  height: var(--container-size);
  flex-shrink: 0;
  position: relative;
}
.NSdCaGLPvoAXRq5vTYzR[data-size="context"] {
  --container-size: 56px;
}
.cFKzTnFVFHQD5gXO9VoF {
  z-index: 2;
  border-radius: var(--album-image-border-radius);
  box-shadow: 0 0 0 3px
    var(--friend-activity-image-outline, var(--background-base));
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
}
.dyTBHA1spNDukaz5dCDw {
  z-index: 0;
  font-size: var(--person-placeholder-font-size);
  border-radius: 50%;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
.yDedIeu91_eAUCII0wpB {
  z-index: 3;
  width: var(--album-image-size);
  height: var(--album-image-size);
  border-radius: var(--album-image-border-radius);
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  padding: 0;
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
}
.yDedIeu91_eAUCII0wpB:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #fff;
}
.IQOaPeco0MjMtpFSSbWs {
  z-index: 1;
  width: var(--play-icon-size);
  height: var(--play-icon-size);
  position: absolute;
  inset-block-start: calc(
    (var(--album-image-size) - var(--play-icon-size)) / 2
  );
  inset-inline-start: calc(
    (var(--album-image-size) - var(--play-icon-size)) / 2
  );
}
@media (hover: hover) and (pointer: fine) {
  .yDedIeu91_eAUCII0wpB {
    opacity: var(--friend-activity-play-control-opacity, 0);
  }
  .NSdCaGLPvoAXRq5vTYzR:is(:hover, :focus-within) .yDedIeu91_eAUCII0wpB {
    opacity: 1;
  }
}
