:root {
  --top-bar-z-index: 1;
}
@keyframes TRT4dUO0hKNfYeE5ahYK {
  0% {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
  to {
    max-width: 0;
    padding-inline: 0;
  }
}
@keyframes imVHPI2zi1AZzpwWduYk {
  0% {
    max-width: 0;
    padding-inline: 0;
  }
  to {
    max-width: 100%;
    padding-inline: 8px;
    display: flex;
  }
}
.k0uNGIIWcXreTlFxJLQE {
  width: 100%;
  height: 64px;
  z-index: var(--top-bar-z-index);
  contain: content;
  pointer-events: none;
  align-items: center;
  display: flex;
  position: absolute;
}
.k0uNGIIWcXreTlFxJLQE > * {
  white-space: nowrap;
  pointer-events: auto;
}
.k0uNGIIWcXreTlFxJLQE a {
  text-decoration: none;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz .VF3uvIAJTYAgTCYhK9Hc {
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}
.k0uNGIIWcXreTlFxJLQE.POdOqEdsK4cpUcw1vsUz:before {
  content: "";
  position: absolute;
  inset: 0 8px;
}
.uJCFZA9UcDFK5dFpWzsC {
  pointer-events: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 {
  gap: 8px;
  display: flex;
}
.Bioyx6d6b7TZaX0JAr32 * {
  -webkit-app-region: no-drag;
}
.VF3uvIAJTYAgTCYhK9Hc {
  z-index: -1;
  background-color: var(--background-base);
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition:
    background-color 0.25s,
    all ease-out;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.VF3uvIAJTYAgTCYhK9Hc:after {
  content: "";
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}
@media (prefers-reduced-motion: reduce) {
  .VF3uvIAJTYAgTCYhK9Hc:after {
    transition: none;
  }
}
.rhgad0KCkY7pC3Jjdt9T {
  background-color: #0009;
  height: 100%;
}
.DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 14% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
[dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
  --radial-size: 85% 92%;
  --radial-position: 86% 12%;
  --radial-color-from: #0000 10%;
  --radial-color-to: #121212 100%;
  --dither: none;
  background-image:
    radial-gradient(
      var(--radial-size) at var(--radial-position),
      var(--radial-color-from),
      var(--radial-color-to)
    ),
    var(--dither);
}
@supports (
  background-image: radial-gradient(
      80% 70% at 19% 12% in oklch,
      var(--radial-color-from),
      var(--radial-color-to)
    )
) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-possibly-color-interpolation: in oklch;
  }
}
@media (color<8) {
  [dir="rtl"] .DniTToJmJJCsNHaxegdR:after {
    --radial-color-from: #0000 10%;
    --radial-color-to: #121212 100%;
    --dither: var(--background-noise);
  }
}
.DniTToJmJJCsNHaxegdR.NcEB09_xvOm4DCbAyZ93:after {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E {
  gap: 8px;
  display: flex;
}
._ehvtNb15IxmxomR0T9E .XnDQ91Oe6pIqmTIBV3kf {
  opacity: 1;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv {
  color: #fff;
  cursor: pointer;
  background-color: #000000b3;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
}
._ehvtNb15IxmxomR0T9E .YCQudASYII9oSA3VRAJv:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
._ehvtNb15IxmxomR0T9E .DZrn0sdiVhJrXNOIIwgJ {
  display: inline-flex;
}
._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
  display: none;
}
@media (width>=1024px) {
  ._ehvtNb15IxmxomR0T9E .vGxcYBngtOYchloEXel_ {
    display: inline-flex;
  }
}
.h7p8IPUBTz82rN27_RIE {
  pointer-events: none;
  -webkit-app-region: no-drag;
  flex-grow: 1;
  min-width: 0;
}
.VSCYZSO7dit4MeBttlqI {
  pointer-events: none;
  align-items: center;
  gap: 8px;
  display: flex;
}
.VSCYZSO7dit4MeBttlqI > * {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}
.pYTZtB41EdPEHJORkp4m {
  margin-inline-end: calc(var(--content-spacing) + 8px);
}
.spotify__container--is-desktop:not(.fullscreen) .k0uNGIIWcXreTlFxJLQE > *,
.spotify__container--is-desktop:not(.fullscreen) .VF3uvIAJTYAgTCYhK9Hc {
  -webkit-app-region: no-drag;
}
.nYfi82ml4ev3Qj7CaoNi {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 8px;
  display: flex;
}
.zUSeRapXfxOgV8pOKXd5 {
  white-space: nowrap;
}
.aMzIcj2Nte0MLTJmbH7F {
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.OQvaPpLU1thIEA_cpjfa {
  white-space: normal;
  display: contents;
}
.n0RXqYzbZhrogj2dpzXG {
  color: var(--text-subdued, #ffffffb3);
  white-space: nowrap;
}
.f5lOYVAdETeMBnXk1fL8 {
  white-space: pre;
}
.f5lOYVAdETeMBnXk1fL8:first-child,
.f5lOYVAdETeMBnXk1fL8:last-child,
:is(
  .f5lOYVAdETeMBnXk1fL8:has(+ .f5lOYVAdETeMBnXk1fL8),
  .f5lOYVAdETeMBnXk1fL8:has(+ [data-invisible])
) {
  display: none;
}
.ZQpR6AIduW0wEvrKDaDQ {
  margin-inline: 4px;
}
.sHb_gFCmFuAvXIIrZOKd {
  margin-inline: 0 1px;
}
.SsdRCCBmjjGCoXmWiFiO {
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 173px;
  transition: opacity 0.3s ease-in-out 0.1s;
  position: absolute;
}
@media (prefers-reduced-motion: reduce) {
  .SsdRCCBmjjGCoXmWiFiO {
    transition: none;
  }
}
.SsdRCCBmjjGCoXmWiFiO {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-70);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO {
    --color-from: var(--background-base-70);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
  --direction-and-possibly-color-interpolation: to bottom;
  --color-from: var(--background-base-20);
  --color-to: transparent;
  --dither: none;
  background-image:
    linear-gradient(
      var(--direction-and-possibly-color-interpolation),
      var(--color-from),
      var(--color-to)
    ),
    var(--dither);
  height: 112px;
}
@supports (
  background-image: linear-gradient(
      in oklch to bottom,
      var(--color-from),
      var(--color-to)
    )
) {
  .SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
    --direction-and-possibly-color-interpolation: in oklch to bottom;
  }
}
@media (color<8) {
  .SsdRCCBmjjGCoXmWiFiO[data-seamless-gradient] {
    --color-from: var(--background-base-20);
    --color-to: #121212;
    --dither: var(--background-noise);
  }
}
.SsdRCCBmjjGCoXmWiFiO.uCKoOMjAq2gERD4HVzvt {
  opacity: 0;
}
.M7ECcaA17LC8UqL2GKVD {
  z-index: -1;
  background-image:
    linear-gradient(#0009 0%, var(--background-base) 100%),
    var(--background-noise);
  width: 100%;
  height: 232px;
  position: absolute;
}
__workaround_element__ {
  --__workaround_property__: 0;
}
.nkcNYpw0JgNLV0r4bdq4 {
  padding-top: var(--action-bar-padding-top, var(--content-spacing));
  padding-bottom: var(--action-bar-padding-bottom, var(--content-spacing));
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.nkcNYpw0JgNLV0r4bdq4 > :not(:first-child) {
  margin-top: calc(var(--content-spacing) - 8px);
}
.qOBihoZnnASZiCXc2cDY {
  align-items: center;
  gap: var(--content-spacing);
  flex-direction: row;
  width: 100%;
  display: flex;
}
.qOBihoZnnASZiCXc2cDY > * {
  flex-shrink: 0;
}
.jUYJ0jYnS41uokf46VXs,
.Xg85SB5XXUq6s9xy614D {
  display: contents;
}
.jUYJ0jYnS41uokf46VXs > *,
.Xg85SB5XXUq6s9xy614D > * {
  flex-shrink: 0;
}
.uay6HzTXP_jDfd9sjlKg .Xg85SB5XXUq6s9xy614D {
  align-items: center;
  gap: var(--content-spacing);
  flex-shrink: 0;
  margin-inline-start: auto;
  display: flex;
}
.uay6HzTXP_jDfd9sjlKg {
  gap: var(--content-spacing);
}
.uay6HzTXP_jDfd9sjlKg .jUYJ0jYnS41uokf46VXs:empty,
.uay6HzTXP_jDfd9sjlKg .Xg85SB5XXUq6s9xy614D:empty {
  display: none;
}
.uay6HzTXP_jDfd9sjlKg[data-visible-action-count="0"] .jUYJ0jYnS41uokf46VXs {
  margin-inline-end: calc(var(--content-spacing) * -1);
}
.uay6HzTXP_jDfd9sjlKg .jUYJ0jYnS41uokf46VXs {
  align-items: center;
  gap: var(--content-spacing);
  max-width: var(--action-bar-row-actions-width);
  opacity: 1;
  transition:
    max-width 0.3s cubic-bezier(0.6, 0, 0.7, 1),
    margin-inline-end 0.3s cubic-bezier(0.6, 0, 0.7, 1),
    opacity 0.15s cubic-bezier(0.6, 0, 0.7, 1) 0.15s,
    transform 0.3s cubic-bezier(0.6, 0, 0.7, 1);
  display: flex;
  overflow: hidden;
  transform: translate(0);
}
.uJJ3IVvO9aOdi_UHFrTZ .jUYJ0jYnS41uokf46VXs {
  max-width: var(--action-bar-row-actions-limited-width);
}
.y6O9TojkQMdGEUcKyv8a .jUYJ0jYnS41uokf46VXs {
  max-width: var(--action-bar-row-actions-search-width, 0);
  transition:
    max-width 0.3s cubic-bezier(0.3, 0, 0.4, 1),
    margin-inline-end 0.3s cubic-bezier(0.3, 0, 0.4, 1),
    opacity 0.15s cubic-bezier(0.3, 0, 0.4, 1),
    transform 0.3s cubic-bezier(0.3, 0, 0.4, 1);
}
.jUYJ0jYnS41uokf46VXs > [data-action-bar-search-hidden],
.uay6HzTXP_jDfd9sjlKg
  .jUYJ0jYnS41uokf46VXs
  > [data-action-bar-overflow-hidden] {
  visibility: hidden;
}
.TYlG6jkBM_FM3BMNk6SO .jUYJ0jYnS41uokf46VXs {
  opacity: 0;
  pointer-events: none;
  margin-inline-end: calc(var(--content-spacing) * -1);
  transform: translate(-8px);
}
.TYlG6jkBM_FM3BMNk6SO
  .jUYJ0jYnS41uokf46VXs:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  transform: translate(8px);
}
.GiHuolJkHbvkLU1PlAdW {
  padding-bottom: var(--encore-spacing-base);
  position: relative;
}
.Aj8bNjeJQg8yATmKLKmx {
  background-color: #0000001a;
}
.UlMl0TayB_FkTRH8dEq7 {
  text-align: center;
  padding: 20px 10px 10px;
}
.JstLeJIddbrS5J77fPJe {
  text-align: center;
  padding: 10px 10px 20px;
}
.qJAUpBZfP3EnmdCk2XRg {
  margin-top: 48px;
}
.Vl3_0eFA2mixzEW7CvGd {
  grid-gap: 8px;
  background-color: #282828;
  border: 0;
  border-radius: 4px;
  grid-auto-flow: column;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  display: grid;
}
.Vl3_0eFA2mixzEW7CvGd:focus,
.Vl3_0eFA2mixzEW7CvGd:hover {
  color: #fff;
  background-color: #ffffff1a;
  text-decoration: none;
}
.JuhrF6Lh2CyU0B75vx1y {
  margin-bottom: var(--encore-spacing-base);
}
.DhNcn0n19Dxdu5rbpWnM {
  padding-block-start: 8px;
}
.oMZqUHHf4LRyxP7gBZ6w {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  display: flex;
}
.KFW9jTrRXz3nSzCd9EkY {
  margin-block-start: 40px;
}
.BqpEqQIK7nzGzovm_bMN {
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
  display: flex;
}
.XLCSHkLru9y7ARueA34y {
  margin-bottom: 24px;
}
.ZPyQciwDfwJ2lgieXAfG {
  color: #fff;
  width: 100%;
  position: relative;
}
.wUZArDaFGIxDSMoiglQD {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.wUZArDaFGIxDSMoiglQD .fam7S_Y8Om32UfTaUErW {
  flex-shrink: 0;
  margin-top: 0;
}
.NFvrm0acjgkR2bqRG6dd {
  justify-content: space-between;
  gap: 24px;
}
.wUZArDaFGIxDSMoiglQD .ehICNJ2GZaXw4jOT7V2Q {
  aspect-ratio: 1;
  flex: auto;
  align-self: center;
  width: auto;
  max-width: 100%;
  height: 100%;
  min-height: 152px;
  max-height: 100%;
  margin-inline-end: 0;
}
.fGaEOo3POmInCHjuvaHu {
  box-sizing: border-box;
  position: relative;
}
.Kg5ZQAE3sd6o8XtrOxld {
  box-sizing: border-box;
  padding-block: 16px;
}
.mfDQ1TPF1ca69tOTMHUL {
  width: 100%;
  display: block;
}
.hCnBLuAuESXlLRx4sjh_ {
  padding-top: var(--encore-spacing-tighter-3);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 16px;
  width: 100%;
  display: flex;
}
.DjX5qALV2kpE1YMhWAnT {
  flex-direction: column;
  align-items: flex-start;
}
.mSYjsF8c1qy8Gerrcafz {
  margin-top: 0;
}
.EiFAKgZT9d2Hs7K15N5Q {
  min-block-size: var(--encore-control-size-small, 32px);
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  min-inline-size: 194px;
  display: flex;
}
.DjX5qALV2kpE1YMhWAnT .EiFAKgZT9d2Hs7K15N5Q {
  justify-content: flex-start;
}
@container main-view-grid-area (width>=600px) {
  .wUZArDaFGIxDSMoiglQD {
    padding: 24px;
  }
}
.VQdJ9vgAR9aFqzkfHhNO {
  margin: 16px 0;
}
.LVOcSBpw3iAaw0QqR6HF > .dIYekRGT_0ZS9Tag_LeS {
  margin: 16px 0;
  padding-left: 24px;
}
.dIYekRGT_0ZS9Tag_LeS .dIYekRGT_0ZS9Tag_LeS {
  margin: 0 0 0 16px;
}
ol > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: decimal;
}
ul > ._G3k1eIg6LFgvvq0Lxhg {
  list-style: outside;
}
.EeWgdu0p90pQiTkLlYFp {
  margin: 0;
}
.EeWgdu0p90pQiTkLlYFp:not(:last-child) {
  margin-block-end: 16px;
}
.rUv0YMpSVE3nbCdaqNEt {
  margin-top: 40px;
}
.G4Z481UYbIzpTpGy_EbL {
  margin-bottom: 40px;
}
/*# sourceMappingURL=xpui-routes-album.2185104e.css.map*/
