.lNxGNRb_wKPy7UidrVww {
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100%;
  padding: 0;
  display: flex;
  position: relative;
}
.esH1WB6rCCFDGdyuR4FT {
  z-index: 1;
  background-color: #181818;
  flex-direction: column;
  place-content: center;
  align-items: stretch;
  gap: 8px;
  padding: 12px 16px;
  display: flex;
  position: sticky;
  top: 0;
}
.ZJhpCGoQ34F_cT7wZ8EN {
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  display: flex;
}
.fKFRt9zKYQ00KTCi8Tmu {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ln1ZYVpK2TIsC8SJwIAw {
  flex-direction: column;
  flex: 1;
  padding: 0 16px;
  display: flex;
}
.cZgFLR_w_Ox8UUWTPJyv {
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 24px;
  padding: 0 16px;
  display: flex;
}
.rk1xFYk85IhDe0M68EhF {
  flex-direction: column;
  flex: 1;
  padding: 16px;
  display: flex;
}
.JX0nHhnNo6JYJReVMLIM {
  margin-top: 20px;
  margin-bottom: 32px;
}
.ncmgMp0TwxBb4r6lMRml {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  display: grid;
}
.eMmGaF5cc5ZBjCiUhrag {
  block-size: 92px;
  padding: 8px;
  display: flex;
  overflow: hidden;
}
.whRh5B4ELHBC6cdgC0cQ {
  overflow-wrap: anywhere;
  padding-inline-end: 32px !important;
}
.cbU4X6arEd_1lba7ZS6r {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 25px;
  left: calc(100% - 45px);
  right: calc(100% - 45px);
  transform: rotate(25deg);
  box-shadow: 0 2px 4px #0003;
}
html[dir="rtl"] .cbU4X6arEd_1lba7ZS6r {
  transform: rotate(-25deg);
}
.IDoto5lXvq1D70ROhHdK {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}
.xn7oDEDkILtCfyAjfk0k {
  color: #fff;
  background-image: linear-gradient(
    150deg,
    rgba(var(--background-color), 0.8) 20px,
    #000 220px
  );
  flex-flow: column;
  flex: 1;
  justify-content: center;
  padding: 0 16px 80px;
  display: flex;
}
.gidr3Cia2OlptjUhWTjR {
  text-align: center;
  margin: 0 auto;
}
.g0fwocFvqJ7MfovSOCHX {
  margin: 0;
}
.SH8egn3W7Gps7Hu6RBgl {
  justify-content: center;
  display: flex;
}
.wtDaIWBZb_3LEq7VyKOu {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0 0 16px;
  overflow: hidden;
}
.xmV6ESl1QWLA0ZIfwZpE {
  color: #b3b3b3;
  background-color: #282828;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  display: flex;
}
.xmV6ESl1QWLA0ZIfwZpE .YlU9jA1NW8dGMMjPPb8n {
  width: 30%;
  height: 30%;
}
.Vetqar5wZf6EEn0CS6z6 {
  border-radius: 4px;
}
.kENLsGyN49WSV0dLbY8c {
  min-block-size: 152px;
  min-inline-size: 152px;
}
.lTwKMpi8EGg52_qT54PP {
  min-block-size: 358px;
  min-inline-size: 358px;
}
.Cdfj4EB3aWCkxpIVHJQg {
  margin: 12px 0;
}
._LZMe7NIFzInG7prZWV2 {
  text-align: center;
}
.zYqD4BOPnYRyeDQIm5W_ {
  position: relative;
}
.zYqD4BOPnYRyeDQIm5W_:before,
.zYqD4BOPnYRyeDQIm5W_:after {
  content: "";
  z-index: 2;
  pointer-events: none;
  width: 16px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.zYqD4BOPnYRyeDQIm5W_:before {
  background-image: linear-gradient(90deg, #181818, #0000);
  left: 0;
}
.zYqD4BOPnYRyeDQIm5W_:after {
  background-image: linear-gradient(90deg, #0000, #181818);
  right: 0;
}
.hyqwWFf53N7J3RDWntGP {
  padding: 8px 16px 0;
}
.P3q8LnjQlv984pgILUE_ {
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}
.P3q8LnjQlv984pgILUE_::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=mwp-search-results.8d08d9cd.css.map*/
