.c_FYrKtmPeg18vLcZynv {
  color: #fff;
  background: linear-gradient(48.366deg, #509bf5, #af2896);
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  height: 100%;
  min-height: 100%;
  padding-top: 64px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.c_FYrKtmPeg18vLcZynv > * {
  z-index: 1;
}
.c_FYrKtmPeg18vLcZynv:after {
  content: "";
  background: linear-gradient(transparent, #121212 90%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.G13WjyPxYCNiK5qVVUBP {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 16px 16px;
  padding: 16px 16px 20px;
  display: flex;
}
